<div id="app">
  <!-- Start: Шапка приложения -->
  <header>
    <div class="background"></div>
    <div class="gradient">
      <div class="header-content col-10">
        <div class="logo"></div>
        <div>
          <button mat-stroked-button [matMenuTriggerFor]="userMenu">Сергей Воронов</button>
          <mat-menu #userMenu="matMenu" [yPosition]="'below'" class="user-menu">
            <button mat-menu-item (click)="openAddAdvertDialog()">
              <mat-icon color="accent">add</mat-icon>
              Добавить объявление
            </button>
            <button mat-menu-item>
              <mat-icon color="accent">exit_to_app</mat-icon>
              Выйти  из приложения
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </header>
  <!-- End: Шапка приложения -->

  <!-- Start: Контент приложения -->
  <main id="app-content mb-4">
    <div class="row justify-content-center">
      <div class="col-11 col-md-11 col-lg-10 col-xl-10 pt-4 pb-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
  <!-- End: Контент приложения -->

  <!-- Start: Подвал приложения -->
  <footer>
    <div class="gradient">
      <div class="row justify-content-center">
        <div class="footer-section col-11 col-md-11 col-lg-10 col-xl-10 pt-4 pb-4">
          <a href="http://www.kolen.elektra.ru/zayavki">Заявки УКиТАСУ</a>
          <a href="">Заявки автотранспорт</a>
          <a href="">Заявки АХО</a>
          <a href="">Расчетные листки</a>
          <a href="">Телефонный справочник</a>
        </div>
      </div>
    </div>
    <div class="background"></div>
  </footer>
  <!-- End: Подвал приложения -->
</div>


