.operative-situation-reports {
  font-family: "Open Sans Light";
  border: none;
  min-height: 206px;
  background: white;
  border-radius: 6px;

  tbody {
    border: none;
  }

  th {
    padding: 10px;
    font-size: 13px;
    text-align: center;
    background: #fafafa;
    // border-color: #e3f2fd !important;

    &.top {
      // background: rgba(207, 216, 220, 0.3);
      background: #eceff1;
      // border: 1px dotted #eeeeee !important;
      border-color: #E0E0E0 !important;
      &.right-border {
        border-right: 1px solid #e0e0e0 !important;
      }
      &.left-border {
        border-left: 1px solid #e0e0e0 !important;
      }
    }

    &.left-border {
      border-left: 1px solid #efebe9 !important;
    }
    &.right-border {
      border-right: 1px solid #efebe9 !important;
    }

    &.empty {
      background: transparent;
      border: none;
    }

    &.time {
      width: 100px;
      font-size: 18px;
      text-align: center;
      .mat-icon-button {
        // width: 18px;
        // height: 18px;
        .mat-icon {
          // width: 18px !important;
          // height: 18px !important;
          font-size: 18px;
          line-height: 18px;
        }
      }
    }
  }

  tr {
    border-color: #eeeeee !important;
    &.content {
      height: 80px;
    }
  }

  td {
    text-align: center;
    background: white;

    &.left-border {
      border-left: 1px solid #eeeeee;
    }
    &.right-border {
      border-right: 1px solid #eeeeee;
    }
    &.total {
      background: rgba(197, 202, 223, 0.3);
      // background: #c5cae9;
      // border-color: #eeeeee !important;
    }
  }
}

.indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .value {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    font-family: "Segoe UI Light";
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
    color: #607d8b;
    .boxing {
      font-size: 20px;
      line-height: 20px;
    }
  }
  .description {
    margin-top: 5px;
    font-family: "Segoe UI Light";
    // font-weight: bolder;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #37474f;
  }
}

.indicator-row {
  border-bottom: 1px dotted lightgrey;
  .title {
    font-family: "Segoe UI Light";
    font-size: 14px;
    line-height: 14px;
  }
  .value {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    font-family: "Segoe UI Light";
    font-weight: bolder;
    font-size: 15px;
    line-height: 15px;
  }
}

.row-caption {
  display: block;
  margin-bottom: 20px;
  font-family: 'Open Sans Light';
  font-size: 16px;
  text-transform: uppercase;
  color: #778f9b;
}

.no-report-placeholder {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans light';
  font-size: 18px;
  color: #90a4ae;
}

.panel {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background: white;
  border-radius: 4px;

  .panel-group {
    display: flex;
    flex-direction: column;
    // margin-right: 10px;
    align-items: flex-start;

    &:last-of-type {
      margin-right: 0px;
    }

    &.connected {
      .panel-indicators {
        .panel-indicator {
          &:first-of-type {
            border-left: none;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
          }
        }
      }

      &:host {
        border: 1px solid red;
        &:first-child {
          .panel-indicators {
            .panel-indicator {
              &:last-of-type {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
              }
            }
          }
        }
      }
    }

    .group-label {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-self: center;
      width: 90%;
      height: 25px;
      margin-top: 10px;
      margin-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px;
      border-left: 1px solid #80cbc4;
      border-right: 1px solid #80cbc4;
      border-top: 1px solid #80cbc4;


      .label {
        margin-top: -16px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: 'Open Sans Light';
        font-size: 13px;
        line-height: 13px;
        color: #00695c;
        text-align: center;
        background: white;
      }
    }

    .panel-indicators {
      display: flex;
      flex-direction: row;

      .panel-indicator {
        display: flex;
        flex-direction: column;
        width: 70px;
        height: 70px;
        padding: 5px;
        border: 1px solid #cfd8dc;
        border-right: none;

        &:first-of-type {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }

        &:last-of-type {
          border-right: 1px solid #cfd8dc;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }

        .label {
          font-family: 'Open Sans Light';
          font-size: 11px;
          line-height: 11px;
          text-align: center;
          color: #78909c;
        }

        .value {
          display: flex;
          flex-direction: column;
          flex: 1;
          justify-content: center;
          align-items: center;
          font-family: "Open Sans Light";
          font-size: 20px;
          text-align: center;
        }
      }
    }
  }
}

@panel-indicator-group-caption-height: 10px;
@panel-indicator-group-caption-font-family: 'Open Sans Light';
@panel-indicator-group-caption-font-size: 14px;
@panel-indicator-group-caption-font-color: #00695c;
@panel-indicator-group-caption-border-color: #eceff1;
@panel-indicator-width: 70px;
@panel-indicator-height: 70px;
@panel-indicator-border-color: #eceff1;
@panel-indicator-font-family: 'Open Sans Light';
@panel-indicator-header-height: 20px;
@panel-indicator-header-background-color: #eceff1;
@panel-indicator-header-font-family: 'Open Sans Light';
@panel-indicator-header-font-size: 11px;
@panel-indicator-header-font-color: #455a64;
@panel-indicator-title-font-size: 11px;
@panel-indicator-title-font-color: #78909c;
@panel-indicator-value-font-family: 'Open Sans Light';
@panel-indicator-value-font-size: 20px;
@panel-indicator-value-line-height: 20px;
@panel-indicator-value-font-color: black;

.indicator-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // min-width: 1255px;

  .indicator-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 7px;
    //margin-right: 10px;

    &:last-of-type {
      margin-right: 0px;
    }

    .caption {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      flex-grow: 0;
      // width: min-content;
      height: @panel-indicator-group-caption-height;
      //margin-left: 15px;
      //margin-right: 15px;
      margin-bottom: 20px;
      border-style: solid;
      border-width: 1px;
      border-color: @panel-indicator-group-caption-border-color;
      border-bottom: none;
      border-right: none;
      border-left: none;

      .title {
        margin-top: -8px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: @panel-indicator-group-caption-font-family;
        font-size: @panel-indicator-group-caption-font-size;
        line-height: @panel-indicator-group-caption-font-size;
        color: @panel-indicator-group-caption-font-color;
        background: white;
      }
    }

    .indicators {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .indicators-with-header {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: 15px;

        &:last-of-type {
          margin-right: 0px;
        }

        .header {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          height: @panel-indicator-header-height;
          font-family: @panel-indicator-header-font-family;
          font-size: @panel-indicator-header-font-size;
          line-height: @panel-indicator-header-font-size + 1px;
          text-align: center;
          text-transform: uppercase;
          color: @panel-indicator-header-font-color;
          background: @panel-indicator-header-background-color;
        }

        .body {
          display: flex;
          flex-direction: row;

          .indicator {
            display: flex;
            flex-direction: column;
            flex: 1;
            // width: @panel-indicator-width;
            min-width: @panel-indicator-width;
            height: @panel-indicator-height;
            padding: 5px;
            border: 1px solid @panel-indicator-border-color;
            border-right: none;
            border-top: none;

            &:first-of-type {
              border-top-left-radius: 0px;
            }

            &:last-of-type {
              border-right: 1px solid #eceff1;
              border-top-right-radius: 0px;
            }

            &.highlighted {
              background: #fffde7;
            }

            &.empty {
              background: #fafafa;
            }

            &.no-header {
              border-top: 1px solid #eceff1;
            }

            .title {
              min-height: 22px;
              font-family: @panel-indicator-font-family;
              font-size: @panel-indicator-title-font-size;
              line-height: @panel-indicator-title-font-size;
              color: @panel-indicator-title-font-color;
              text-align: center;
            }

            .value {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              flex: 1;
              font-family: @panel-indicator-value-font-family;
              font-size: @panel-indicator-value-font-size;
              line-height: @panel-indicator-value-line-height;
              font-weight: normal;
              color: @panel-indicator-value-font-color;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
