<div class="adverts-list-component p-4">
  <div class="container-fluid">
    <div class="row mt-md-3 align-items-start">
      <div class="col-12 h-100 col-md-auto col-lg-3 align-items-center">
        <div class="section-caption">
          <span>Объявления</span>
        </div>
      </div>

      <div class="col-12 col-md-6 d-flex flex-row justify-content-end align-self-md-center">
        <app-adverts-search></app-adverts-search>
      </div>

      <div class="col d-flex flex-row justify-content-end align-items-start">
        <button kol-button type="stroked" [icon]="'fa-plus'" (click)="openAddAdvertDialog()">
          Добавить
        </button>
      </div>
    </div>

    <div class="row mt-2 mt-md-5">
      <div class="col-6 col-md-4 col-lg-4 col-xl-3 advert-container" *ngFor="let advert of adverts$ | async">
        <app-advert [advert]="advert"></app-advert>
      </div>
    </div>

    <div class="row pt-5 mt-5" *ngIf="!(searchingInProgress$ | async) && (adverts$ | async).length === 0 && !(searchQuery$ | async)">
      <div class="no-adverts-placeholder col-12">
        Объявления отсутствуют
      </div>
    </div>

    <div class="row" *ngIf="!(searchingInProgress$ | async) && (adverts$ | async).length === 0 && (searchQuery$ | async) && !(fetchingInProgress$ | async)">
      <div class="no-adverts-placeholder col-12">
        Объявления по Вашему запросу не найдены
      </div>
    </div>

    <div class="row justify-content-center pb-5" *ngIf="(page$ | async) < (totalPages$ | async) && !(searchQuery$ | async)">
      <div class="col-12 col-lg-6 mt-5 mb-5">
        <button class="kol-button w-100" [disabled]="fetchingInProgress$ | async" (click)="loadAdvertsNextPAge()">
          <mat-progress-spinner class="mr-2" diameter="20" mode="indeterminate" *ngIf="fetchingInProgress$ | async"></mat-progress-spinner>
          <mat-icon *ngIf="!(fetchingInProgress$ | async)">refresh</mat-icon>
          Загрузить еще
        </button>
      </div>
    </div>
  </div>
</div>
