<div class="container-fluid">

  <!-- Start: Объявления -->
  <div class="row">
    <div class="col-auto pl-2">
      <div class="row">
        <div class="col-12 block-title">Объявления</div>
      </div>
      <div class="row mt-3">
        <div class="col-12 pl-0">
          <app-articles-block [layout]="articlesLayout.EQUALS"></app-articles-block>
        </div>
      </div>
    </div>
    <div class="col pl-5 pt-3" style="margin-top: 24px;">
      <app-weather></app-weather>
    </div>
  </div>
  <!-- End: Объявления -->

  <div class="row mt-5">
    <div class="col-auto pl-2">
      <div class="row">
        <div class="col-12 block-title">Наши люди</div>
      </div>
      <div class="row mt-3">
        <div class="col-12 pl-0">
          <app-articles-block [layout]="articlesLayout.ONE_LEAD_AND_EQUALS"></app-articles-block>
        </div>
      </div>
    </div>
  </div>
</div>
