<div class="container-fluid">

  <!-- Start: Объявления -->
  <div class="row">
    <div class="col-auto pl-2">
      <div class="row">
        <div class="col-12 block-title">Объявления</div>
      </div>
      <div class="row mt-3">
        <div class="col-12 pl-0">
          <app-articles-block [layout]="articlesLayout.EQUALS"></app-articles-block>
        </div>
      </div>
    </div>
    <div class="col pl-5 pt-3 d-flex flex-column align-items-end" style="margin-top: 24px;">
      <div class="weather-block d-flex flex-column align-items-start">
        <app-weather location="Мурманск" temperature="14" precipitations="Небольшой дождь" wind="10-12"></app-weather>
        <app-weather class="mt-3" location="Мурмаши" temperature="10" precipitations="Ясно" wind="8-10"></app-weather>
        <app-weather class="mt-3" location="Апатиты" temperature="8" precipitations="Солнечно" wind="6-8"></app-weather>
      </div>
    </div>
  </div>
  <!-- End: Объявления -->

  <div class="row mt-5">
    <div class="col-auto pl-2">
      <div class="row">
        <div class="col-12 block-title">Наши люди</div>
      </div>
      <div class="row mt-3">
        <div class="col-12 pl-0">
          <app-articles-block [layout]="articlesLayout.ONE_LEAD_AND_EQUALS"></app-articles-block>
        </div>
      </div>
    </div>
  </div>
</div>
