@sidebar-width: 330px;
@sidebar-background-color: #fafafa;
@content-background-color: #eeeeee;

.application-sidebar {
  height: 100%;

  .mat-drawer {
    width: @sidebar-width;
    background: @sidebar-background-color;
  }

  .mat-drawer-content {
    background: @content-background-color;
  }
}
