@import '../../../../styles/border-radius';

@width: 80px;
@height: 80px;
@padding: 7px;

@indicator-width: 22px;
@indicator-height: 22px;
@indicator-background-color: #ef5350;
@indicator-font-family: 'Open Sans Regular';
@indicator-font-size: 11px;
@indicator-font-color: white;
@indicator-border: 2px solid #FAFAFA;

@label-padding: 20px 7px;
@label-font-family: 'Open Sans Light';
@label-font-size: 11px;
@label-font-color: white;

.application-icon-wrapper {
  position: relative;
  z-index: 1;
  float: right;
  width: @width;
  height: @height;
  border-radius: 27px;
  box-shadow: 0px 2px 12px 0px rgba(171, 171, 171, 0.66);

  &:hover {
    .image {
      bottom: -2% !important;
    }
  }

  .indicator {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5px;
    right: -2px;
    width: @indicator-width;
    height: @indicator-height;
    margin-bottom: -@indicator-height;
    font-family: @indicator-font-family;
    font-size: @indicator-font-size;
    color: @indicator-font-color;
    background: @indicator-background-color;
    border: @indicator-border;
    border-radius: 50%;
  }

  .application-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: @width;
    height: @height;
    // padding: @padding;

    // background: linear-gradient(#26a69a, lighten(color(#26a69a), 30%));
    // -webkit-box-shadow: 0px 3px 8px 1px rgba(171,171,171,0.66);
    // -moz-box-shadow: 0px 3px 8px 1px rgba(171,171,171,0.66);
    // box-shadow: 0px 3px 8px 1px rgba(171,171,171,0.66);
    cursor: pointer;

    .border-squircle(50%, 50%);

    .label {
      min-height: 47px;
      padding: @label-padding;
      padding-bottom: 5px !important;
      font-family: @label-font-family;
      font-size: @label-font-size;
      line-height: @label-font-size;
      color: @label-font-color;
      text-align: center;
    }

    .image {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 60%;
      bottom: -6%;
      background-size: 80% !important;
      background-repeat: no-repeat !important;
      background-position: top center !important;
      transition: bottom linear 0.1s;
    }
  }
}
