  <div class="row no-gutters h-100">
    <!--
    <div class="d-none d-md-flex flex-column col-2 h-100 request-type-image"
         [ngStyle]="{'background': 'url(' + (selectedRequest$ | async)?.type.imageUrl + ')'}"></div>
         -->
    <div class="col-12">

      <mat-tab-group
        class="request-details-tabs h-100"
        animationDuration="0ms"
        disableRipple="true"
        selectedIndex="0">
        <!--
        <mat-tab disabled>
          <ng-template mat-tab-label>
            <span class="label request-label pr-5">Заявка #{{(selectedRequest$ | async)?.id}}</span>
          </ng-template>
        </mat-tab>
        -->

        <!-- Start: Вкладка с информацией о заявке -->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">info</mat-icon>
            <span class="label d-none d-md-flex">Содержание</span>
            <span class="label d-flex d-md-none">О заявке</span>
          </ng-template>
          <div class="row no-gutters h-100" *ngIf="(selectedRequest$ | async) as request">
            <div class="col-12 h-100">
              <div class="row h-100 no-gutters">

                <div class="col-12 col-md-5 col-xl-4 height-100 d-flex flex-column p-3" style="background: #eeeeee;">

                  <div class="request-meta-info mb-3 d-none d-md-flex"
                       [ngStyle]="{'background': 'url(' + request.type.imageUrl + ')'}">
                    <div class="label mat-elevation-z1">
                      <span class="primary">Заявка #{{request.id}}</span>
                      <span class="secondary">от {{request.dateCreatedD | date:'dd.MM.yyyy в hh:mm'}}</span>
                    </div>
                  </div>

                  <mat-list class="request-details-list">

                    <!-- Start: Номер заявки и дата подачи -->
                    <h3 matSubheader class="d-flex d-md-none">Информация о заявке</h3>
                    <mat-list-item class="d-flex d-md-none">
                      <mat-icon matListIcon color="primary">info</mat-icon>
                      <h4 matLine>Заявка #{{request.id}}</h4>
                      <p matLine class="text-muted">от {{request.dateCreatedD | date:'dd.MM.yyyy в HH:mm'}}</p>
                    </mat-list-item>
                    <!-- End: Номер заявки и дата подачи -->

                    <!-- Start: Подразделение организации -->
                    <h3 matSubheader class="">Производственное отделение</h3>
                    <mat-list-item>
                      <mat-icon matListIcon color="primary"></mat-icon>
                      <h4 matLine>{{request.type.title}}</h4>
                      <p matLine class="text-muted" *ngIf="request.numberOfLoaders">Требуется грузчиков: {{request.numberOfLoaders}}</p>
                    </mat-list-item>
                    <!-- End: Подразделение организации -->

                    <!-- Start: Категория заявки -->
                    <h3 matSubheader class="">Категория заявки</h3>
                    <mat-list-item>
                      <mat-icon matListIcon color="primary" fontSet="fa" fontIcon="{{request.type.icon}}"></mat-icon>
                      <h4 matLine>{{request.type.title}}</h4>
                      <p matLine class="text-muted" *ngIf="request.numberOfLoaders">Требуется грузчиков: {{request.numberOfLoaders}}</p>
                    </mat-list-item>
                    <!-- End: Категория заявки -->

                    <!-- Start: Срок исполнения заявки -->
                    <h3 matSubheader *ngIf="request.dateExpiresD">Срок исполнения</h3>
                    <mat-list-item *ngIf="request.dateExpiresD">
                      <mat-icon matListIcon color="primary">calendar_today</mat-icon>
                      <h4 matLine>{{request.dateExpiresD | date:'dd MMMM yyyy'}}</h4>
                      <p matLine class="text-danger" *ngIf="request.isExpired">Просрочено</p>
                    </mat-list-item>
                    <!-- End: Срок исполнения заявки -->

                    <!-- Start: Инициатор / автор заявки -->
                    <h3 matSubheader class="">{{request.initiator ? 'Инициатор / автор' : 'Автор'}}</h3>
                    <mat-list-item *ngIf="request.initiator">
                      <img matListAvatar src="/assets/lamps.jpg" alt="...">
                      <h4 matLine>{{request.initiator}}</h4>
                    </mat-list-item>
                    <mat-list-item>
                      <img matListAvatar src="/assets/lamps.jpg" alt="...">
                      <h4 matLine>{{request.user.firstName + ' ' + request.user.lastName}}</h4>
                      <p matLine class="text-muted" *ngIf="request.user.position">{{request.user.position}}</p>
                    </mat-list-item>
                    <!-- End: Инициатор / автор заявки -->

                    <!-- Start: Местоположение -->
                    <h3 matSubheader class="">Кабинет</h3>
                    <mat-list-item>
                      <mat-icon matListIcon color="primary">location_on</mat-icon>
                      <h4 matLine>{{request.room}}</h4>
                    </mat-list-item>
                    <!-- End: Местоположение -->

                    <!-- Start: Контактный телефон -->
                    <h3 matSubheader class="">Контактный телефон</h3>
                    <mat-list-item>
                      <mat-icon matListIcon color="primary">phone</mat-icon>
                      <h4 matLine>{{request.phone}}</h4>
                    </mat-list-item>
                    <!-- End: Контактный телефон -->

                    <!-- Start: Исполнители -->
                    <h3 matSubheader class="d-flex flex-row justify-content-between">
                      <span>{{request.employees.length > 1 ? 'Исполнители' : 'Исполнитель'}}</span>
                      <span class="link"
                            *ngIf="(user$| async).permissions.getRoleByCode('aho_requests_administrator')"
                            (click)="addEmployeeMode()">
                        {{inAddEmployeeMode ? 'Отмена' : 'Добавать исполнителя'}}
                      </span>
                    </h3>
                    <mat-list-item *ngIf="request.employees.length === 0">
                      <h4 matLine class="text-muted">Не назначен</h4>
                    </mat-list-item>
                    <div *ngIf="!(user$| async).permissions.getRoleByCode('aho_requests_administrator')">
                      <mat-list-item *ngFor="let employee of request.employees">
                        <img matListAvatar src="/assets/lamps.jpg" alt="...">
                        <h4 matLine>{{employee.firstName + ' ' + employee.lastName}}</h4>
                        <p matLine class="text-muted" *ngIf="employee.position">{{employee.position}}</p>
                      </mat-list-item>
                    </div>

                    <div class="user-list border-bottom" *ngIf="(user$| async).permissions.getRoleByCode('aho_requests_administrator') && request.employees.length > 0">
                      <div class="user-item" *ngFor="let employee of request.employees">
                        <!-- Start: Информация о пользователе -->
                        <div class="user-details">
                          <div class="user-avatar">
                            <span class="initials" *ngIf="!employee.photo">{{employee.firstName[0] + employee.lastName[0]}}</span>
                          </div>
                          <div class="user-description">
                            <div class="primary-label">{{employee.firstName + ' ' + employee.lastName}}</div>
                            <div class="secondary-label text-muted" *ngIf="employee.position">{{employee.position}}</div>
                          </div>
                        </div>
                        <!-- End: Информация о пользователе -->

                        <!-- Start: Элементы управления -->
                        <div class="user-controls">
                          <button mat-icon-button
                                  matTooltip="Удалить исполнителя"
                                  matTooltipPosition="above"
                                  (click)="removeEmployee(employee)">
                            <mat-icon color="primary">delete</mat-icon>
                          </button>
                        </div>
                        <!-- End: Элементы управления -->
                      </div>
                    </div>

                    <div class="border-bottom pl-3 pr-3" style="background: white;" *ngIf="inAddEmployeeMode">
                      <mat-form-field class="w-100">
                        <mat-label>Выберите исполнителя</mat-label>
                        <mat-select (selectionChange)="selectEmployee($event)">
                          <mat-option *ngFor="let employee of (employees$ | async)" [value]="employee">
                            {{employee.firstName + ' ' + employee.lastName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <!-- Start: Исполнители -->

                    <!-- Start: Статус заявки -->
                    <h3 matSubheader class="mt-2">Статус заявки</h3>
                    <mat-list-item>
                      <mat-icon matListIcon
                                fontSet="far"
                                fontIcon="{{request.status.icon}}"
                                [ngStyle]="{'color': request.status.iconColor}">
                      </mat-icon>
                      <h4 matLine>{{request.status.title}}</h4>
                      <p matLine class="text-muted" *ngIf="request.rejectReason">Причина: {{request.rejectReason}}</p>
                    </mat-list-item>
                    <!-- End: Статус заявки -->

                  </mat-list>

                  <div class="mt-3 p-3 border-top">
                    <div class="row pl-0 pr-0">
                      <div class="col-6">
                        <button mat-flat-button color="primary" *ngIf="isRequestChanged" class="w-100">Сохранить изменения</button>
                      </div>
                      <div class="col-6">
                        <button mat-flat-button color="warn" *ngIf="isRequestChanged" class="w-100">Отменить изменения</button>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="col-md-7 col-xl-8 pl-3 pt-3 pb-3">
                  <mat-selection-list class="request-details-tasks pt-0" (selectionChange)="checkTask($event)">
                    <mat-list-option *ngFor="let task of request.tasks">
                      <span matLine>{{task.content.title}}</span>
                      <span matLine class="text-muted" *ngIf="request.type.isCountable">
                        Количество: {{task.count + ' ' + task.content.boxing ? task.content.boxing : 'шт'}}
                      </span>
                    </mat-list-option>
                  </mat-selection-list>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <!-- End: Вкладка с информацией о заявке -->

        <mat-tab>
          <ng-template mat-tab-label class="d-flex d-md-none">
            <mat-icon class="example-tab-icon">info</mat-icon>
            <span class="label">Задачи</span>
          </ng-template>
        </mat-tab>

        <!-- Start: Вкладка с комментариями к заявке -->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">message</mat-icon>
            <span class="label">Коммментарии</span>
          </ng-template>
          <div class="d-flex flex-column h-100 justify-content-center align-items-center">
            Комментарии отсутствуют
          </div>
        </mat-tab>
        <!-- End: Вкладка с комментариями к заявке -->

      </mat-tab-group>

    </div>
  </div>





