  <div class="row no-gutters h-100">
    <!--
    <div class="d-none d-md-flex flex-column col-2 h-100 request-type-image"
         [ngStyle]="{'background': 'url(' + (selectedRequest$ | async)?.type.imageUrl + ')'}"></div>
         -->
    <div class="col-12">

      <mat-tab-group
        class="request-details-tabs h-100"
        animationDuration="0ms"
        disableRipple="true"
        selectedIndex="0">
        <!--
        <mat-tab disabled>
          <ng-template mat-tab-label>
            <span class="label request-label pr-5">Заявка #{{(selectedRequest$ | async)?.id}}</span>
          </ng-template>
        </mat-tab>
        -->

        <!-- Start: Вкладка с информацией о заявке -->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">info</mat-icon>
            <span class="label">Содержание</span>
          </ng-template>
          <div class="row no-gutters h-100" *ngIf="(selectedRequest$ | async) as request">
            <div class="col-12 h-100">
              <div class="row h-100 no-gutters">

                <div class="col-4 height-100 d-flex flex-column p-3" style="background: #eeeeee;">

                  <div class="request-meta-info mb-3"
                       [ngStyle]="{'background': 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(' + request.type.imageUrl + ')'}">
                    <span class="primary">Заявка #{{request.id}}</span>
                    <span class="secondary">от {{request.dateCreatedD | date:'dd.MM.yyyy в hh:mm'}}</span>
                  </div>

                  <mat-list>
                    <h3 matSubheader class="">Категория заявки</h3>
                    <mat-list-item>
                      <mat-icon matListIcon color="primary" fontSet="fa" fontIcon="{{request.type.icon}}"></mat-icon>
                      <h4 matLine>{{request.type.title}}</h4>
                      <p matLine class="text-muted" *ngIf="request.numberOfLoaders">Требуется грузчиков: {{request.numberOfLoaders}}</p>
                    </mat-list-item>

                    <h3 matSubheader>Срок исполнения</h3>
                    <mat-list-item>
                      <mat-icon matListIcon color="primary">calendar_today</mat-icon>
                      <h4 matLine>{{request.dateExpiresD | date:'dd MMMM yyyy'}}</h4>
                      <p matLine class="text-danger" *ngIf="request.isExpired">Просрочено</p>
                    </mat-list-item>

                    <h3 matSubheader class="">{{request.initiator ? 'Инициатор / автор' : 'Автор'}}</h3>
                    <mat-list-item *ngIf="request.initiator">
                      <img matListAvatar src="/assets/lamps.jpg" alt="...">
                      <h4 matLine>{{request.initiator}}</h4>
                      <!-- <p matLine class="text-muted" *ngIf="(selectedRequest$ | async)?.initiator">{{(selectedRequest$ | async)?.initiator}}</p> -->
                    </mat-list-item>
                    <mat-list-item>
                      <img matListAvatar src="/assets/lamps.jpg" alt="...">
                      <h4 matLine>{{request.user.firstName + ' ' + request.user.lastName}}</h4>
                      <p matLine class="text-muted" *ngIf="request.user.position">{{request.user.position}}</p>
                    </mat-list-item>

                    <h3 matSubheader class="">Контактный телефон</h3>
                    <mat-list-item>
                      <mat-icon matListIcon color="primary">phone</mat-icon>
                      <h4 matLine>{{request.phone}}</h4>
                    </mat-list-item>

                    <h3 matSubheader class="">Исполнитель</h3>
                    <mat-list-item *ngFor="let employee of request.employees">
                      <img matListAvatar src="/assets/lamps.jpg" alt="...">
                      <h4 matLine>{{employee.firstName + ' ' + employee.lastName}}</h4>
                      <p matLine class="text-muted" *ngIf="employee.position">{{employee.position}}</p>
                    </mat-list-item>

                    <h3 matSubheader class="">Статус заявки</h3>
                    <mat-list-item>
                      <mat-icon matListIcon
                                fontSet="far"
                                fontIcon="{{request.status.icon}}"
                                [ngStyle]="{'color': request.status.iconColor}">
                      </mat-icon>
                      <h4 matLine>{{request.status.title}}</h4>
                      <p matLine class="text-muted" *ngIf="request.rejectReason">Причина: {{request.rejectReason}}</p>
                    </mat-list-item>

                  </mat-list>

                </div>

                <div class="col-8 pl-3 pt-3 pb-3">
                  <mat-selection-list class="request-details-tasks pt-0">
                    <mat-list-option *ngFor="let task of request.tasks">
                      <span matLine>{{task.content.title}}</span>
                      <span matLine class="text-muted" *ngIf="request.type.isCountable">
                        Количество: {{task.count + ' ' + task.content.boxing ? task.content.boxing : 'шт'}}
                      </span>
                    </mat-list-option>
                  </mat-selection-list>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <!-- End: Вкладка с информацией о заявке -->

        <!-- Start: Вкладка с комментариями к заявке -->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">message</mat-icon>
            <span class="label">Коммментарии</span>
          </ng-template>
          <div class="d-flex flex-column h-100 justify-content-center align-items-center">
            Комментарии отсутствуют
          </div>
        </mat-tab>
        <!-- End: Вкладка с комментариями к заявке -->

      </mat-tab-group>

    </div>
  </div>





