<div class="row h-100 d-none d-md-flex mt-3" style="flex: 1;">
  <!--
  <div class="col-2">

    <div class="lead">Заявка #{{(selectedRequest$ | async)?.id}}</div>
    <div class="">от {{(selectedRequest$ | async)?.dateCreatedD | date:'dd.MM.yyyy, HH:mm'}}</div>
  </div>
  -->
  <div class="col-12 h-100">
    <app-tabs></app-tabs>
    <div class="col-10"></div>
    <div class="col-2 h-100 request-type-image d-flex flex-column" [ngStyle]="{'background': 'url(' + (selectedRequest$ | async)?.type.imageUrl + ')'}"></div>

  </div>
</div>
