@application-header-title-font-family: 'Open Sans Light';
@application-header-title-font-size: 33px;
@application-header-title-text-transform: normal;
@application-header-title-line-height: 40px;
@application-header-title-font-color: #546e7a;
@application-header-subtitle-font-family: 'Open Sans Light';
@application-header-subtitle-font-size: 15px;
@application-header-subtitle-font-color: #546e7a;


@application-header-height: 60px;
@application-header-background-color: #4db6ac;
@application-header-border: 2px solid #e0e0e0;

.mat-progress-bar {
  position: fixed;
  z-index: 100;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: @application-header-height;
  background: @application-header-background-color;
  border-bottom: @application-header-border;

  .mat-button {
    // height: 40px;
    color: white;
    background: #80cbc4;
  }

  .mat-stroked-button {
    color: #00897b;
    border-color: #00897b;
  }
}

.content {
  overflow: auto;
  display: flex;
  flex: 1;
}


.application-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .application-title {
    overflow: hidden;
    height: 40px;
    font-family: @application-header-title-font-family;
    font-size: @application-header-title-font-size;
    line-height: @application-header-title-line-height;
    text-transform: @application-header-title-text-transform;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: @application-header-title-font-color;
  }

  .application-subtitle {
    font-family: @application-header-subtitle-font-family;
    font-size: @application-header-subtitle-font-size;
    text-transform: uppercase;
    color: @application-header-subtitle-font-color;
  }
}

.application-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .mat-button {
    height: 40px;
    background: #e0e0e0;
  }
}

#add-report-button {
  position: fixed;
  right: 40px;
  bottom: 20px;
}
