<mat-progress-bar mode="indeterminate" *ngIf="isLoadingInProgress$ | async"></mat-progress-bar>
<mat-drawer-container class="application-sidebar">
  <mat-drawer mode="side" opened>
  <div class="container-fluid p-4 overflow-hidden">


    <div class="row">
      <div class="col-12">
        <button mat-stroked-button
                class="w-100"
                color="primary"
                [matMenuTriggerFor]="companiesMenu">
          {{(selectedCompany$ | async)?.shortTitle}}
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #companiesMenu="matMenu" yPosition="below" [style.width]="'261px'">
          <button mat-menu-item
                  class="pl-4 pr-4"
                  *ngFor="let company of (companies$ | async)"
                  (click)="selectCompany(company)">
            <div class="pl-4 pr-4">
              <mat-icon color="primary" class="mr-4 pr-4">business</mat-icon>
              <span class="ml-2">{{company.shortTitle}}</span>
            </div>
          </button>
        </mat-menu>
      </div>
    </div>

    <div class="row">
      <div class="col-12 pt-4 overflow-auto">
        <app-division-tree></app-division-tree>
      </div>
    </div>
  </div>
  </mat-drawer>

  <mat-drawer-content>
    <div class="container-fluid d-flex flex-column pt-3 pl-4 pr-4 pb-4 h-100">
      <div class="row">

        <div class="col">
          <div class="application-header">
            <span class="application-title">Оперативная обстановка</span>
            <span class="application-subtitle">
              на {{(date$| async) | date:"dd.MM.yyyy"}}
              <span *ngIf="selectedCompany$ | async">в {{(selectedCompany$ | async)?.shortTitle}}</span>
              <span *ngIf="selectedDivision$ | async">&nbsp;&rarr;&nbsp; {{(selectedDivision$ | async)?.title}}</span>
            </span>
          </div>
        </div>

        <div class="col-auto">
          <div class="application-controls pt-3">
            <button mat-stroked-button
                    color="primary"
                    [matMenuTriggerFor]="userMenu">
              <span *ngIf="user$ | async">{{(user$ | async)?.firstName + ' ' + (user$ | async)?.lastName}}</span>
              <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #userMenu="matMenu" yPosition="below">
              <button mat-menu-item
                      class="pl-4 pr-4"
                      (click)="signOut()">
                <mat-icon color="primary">exit_to_app</mat-icon>
                Выйти из приложения
              </button>
            </mat-menu>
          </div>
        </div>
      </div>

      <div class="row flex-fill">
        <div class="col-12 pt-5">
          <app-timeline class="mb-5 mt-3"></app-timeline>
          <app-reports-time-table></app-reports-time-table>
          <!-- <app-report-add-dialog></app-report-add-dialog> -->
        </div>
      </div>
    </div>

    <button id="add-report-button"
            mat-fab color="primary"
            matTooltip="Добавить отчет"
            matTooltipPosition="before"
            *ngIf="selectedDivision$ | async"
            (click)="openAddReportDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-drawer-content>
</mat-drawer-container>
