<div class="search" [formGroup]="searchForm">
  <div class="prefix">
    <mat-icon>search</mat-icon>
  </div>
  <div class="filters" *ngIf="filters.isFiltersApplied()">
    <div class="filter"
         *ngFor="let filter of filters.getAppliedFilters()"
         matTooltip="{{filter.getTitle()}}"
         matTooltipPosition="below"
         (click)="onResetFilter(filter)">
      {{filter.getLabel()}}
    </div>
  </div>
  <div class="input">
    <input type="text" formControlName="query">
  </div>
  <div class="controls pl-3 pr-3">
    <mat-icon class="mr-2"
              *ngIf="searchForm.controls.query.value"
              matTooltip="Очистить поиск"
              matTooltipPosition="below"
              (click)="onClearSearch()">
      clear
    </mat-icon>
    <mat-icon matTooltip="Фильтры"
              matTooltipPosition="below"
              (click)="onOpenFilters()">
      filter_list
      <span class="indicator" *ngIf="filters.isFiltersApplied()"></span>
    </mat-icon>
  </div>
</div>
