<div class="tabs"></div>
<div class="content">
  <app-tabs [listMode]="listMode$ | async"
            [userRequests]="userRequests$ | async"
            [filteredRequests]="filteredRequests$ | async"
            (select)="selectListMode($event)">
    <app-requests-grid class="mt-2"
                       [requests]="(listMode$ | async) === listModes.ALL_REQUESTS ? (requests$ | async) : (userRequests$ | async)"
                       (select)="selectRequest($event)">
    </app-requests-grid>
  </app-tabs>

  <div class="no-requests-placeholder"
       *ngIf="(requests$ | async).length === 0 && (listMode$ | async) === listModes.ALL_REQUESTS && !(loading$ | async)">
    Заявки на {{(selectedDate$ | async) | date: 'dd MMMM'}}<br> отсутствуют
  </div>
</div>
