@period-width: 14.28%;
@period-height: 60px;
@period-font-family: 'Open Sans Regular';
@period-font-size: 13px;
@period-font-size-selected: 13px;
@period-font-color: #546e7a;
@period-background-color-selected: #e0e0e0;
@period-border: 1px solid #e0e0e0;
@period-border-right: 1px solid #D8DDDB;

:host {
  display: block;
  height: 100%;
}

.reports-time-table {
  display: flex;
  flex-direction: column;
  height: 100%;

  .periods-and-consumption {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .period {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: @period-width;
      height: @period-height;
      padding-left: 10px;
      padding-right: 10px;
      font-family: @period-font-family;
      font-size: @period-font-size;
      text-transform: uppercase;
      line-height: @period-font-size;
      color: #b0bec5;
      background: rgba(222, 227, 225, 0.4);
      border-right: @period-border-right;
      border-bottom: @period-border-right;
      border-top: 2px solid transparent;
      cursor: pointer;

      &:first-of-type {
        border-left: @period-border;
      }


      &.with-data {
        color: @period-font-color;
      }

      &.selected {
        // font-size: @period-font-size-selected;
        color: #009688;
        border-left: @period-border-right;
        border-top: 2px solid #009688;
        border-right: @period-border-right;
        border-bottom: 1px solid transparent;
        // border-top-left-radius: 2px;
        // border-top-right-radius: 2px;
        background: transparent;

        i {
          color: #009688;
        }
      }

      i {
        // margin-right: 10px;
        margin-bottom: 5px;
        font-size: 20px;
        color: #C4C9C9;
      }

      .mat-icon {
        //width: 25px;
        //height: 25px;
        font-size: 35px;
      }
    }
  }

  .report {
    flex: 1;

    .semi-periods {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #D8DDDB;

      .label {
        font-family: 'open Sans Light';
        font-size: 14px;
        text-transform: uppercase;
        color: #78909c;
      }

      .tags {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: 1;

        .tag {
          height: 36px;
          margin-right: 10px;
          padding: 5px 15px;
          font-family: 'Open Sans Regular';
          font-size: 15px;
          color: #b0bec5;
          border: 1px solid #cfd8dc;
          border-radius: 2.5px;
          cursor: pointer;

          &:last-of-type {
            // margin-right: 0px;
          }

          &:hover {
            color: #90a4ae;
            border-color: #b0bec5;
          }

          &.selected {
            color: #009688;
            border-color: #009688;
          }
        }
      }

    }
  }
}
