@period-width: 70px;
@period-height: 70px;
@period-font-family: 'Open Sans Regular';
@period-font-size: 14px;
@period-font-size-selected: 16px;
@period-font-color: #546e7a;
@period-background-color-selected: #e0e0e0;
@period-border: 1px solid #e0e0e0;
@period-border-right: 1px solid #b0bec5;

.reports-time-table {
  display: flex;
  flex-direction: row;

  .periods-and-consumption {
    display: flex;
    flex-direction: column;

    .period {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: @period-width;
      height: @period-height;
      font-family: @period-font-family;
      font-size: @period-font-size;
      color: @period-font-color;
      border: @period-border;
      border-top: none;
      border-right: @period-border-right;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      cursor: pointer;
      transition: border linear 0.1s;

      &:first-of-type {
        border-top: @period-border;
      }

      &.selected {
        font-size: @period-font-size-selected;
        border-left: @period-border-right;
        border-top: @period-border-right;
        border-bottom: @period-border-right;
        border-right: none;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        // background: @period-background-color-selected;
      }

      .mat-icon {
        //width: 25px;
        //height: 25px;
        font-size: 35px;
      }
    }
  }

  .report {}
}
