<div id="start-component">
  <div class="service-column p-4">
    <div class="container-fluid pt-2">
      <!-- Start: Поиск абонентов в телефонном справочнике -->
      <div class="row no-gutters">
        <div class="col-12">
          <app-phonebook-search></app-phonebook-search>
        </div>
      </div>
      <!-- End: Поиск абонентов в телефонном справочнике -->

      <!-- Start: Наши сервисы -->
      <div class="row no-gutters mt-5">
        <div class="col-12">
          <span class="caption">Наши сервисы</span>
        </div>
      </div>
      <div class="row no-gutters mt-3">
        <div class="col-12">
          <!-- Start: Сервисы -->
          <div class="services">
            <div class="row justify-content-between">
              <div class="col-12"></div>
              <!-- Start: Ссылка на заявки УКиТАСУ -->
                <a href="http://www.kolen.elektra.ru/zayavki/" target="_blank" class=" service ukitasu">
                  <div class="service-caption">Заявки УКиТАСУ</div>
                  <div class="service-icon">
                    <img src="/assets/printer.png">
                  </div>
                </a>
              <!-- End: Ссылка на заявки УКиТАСУ -->

              <!-- Start: Ссылка на заявки на автотранспорт -->
                <a href="http://www.kolen.elektra.ru/zayavki/auto" target="_blank" class="service auto">
                  <div class="service-caption">Заявки на транспорт</div>
                  <div class="service-icon">
                    <img src="/assets/car.png" alt="">
                  </div>
                </a>
              <!-- End: Ссылка на заявки на автотранспорт -->

              <!-- Start: Ссылка на заявки АХО -->
                <a href="http://10.50.0.153:12345" target="_blank" class="service aho">
                  <div class="service-caption">Заявки АХО</div>
                  <div class="service-icon">
                    <img src="/assets/toolbox.png">
                  </div>
                </a>
              <!-- End: Ссылка на заявки АХО -->
            </div>
            <div class="row justify-content-between mt-2">
              <!-- Start: Ссылка на расчетные листки -->
                <a href="http://hr.kolen.elektra.ru/" target="_blank" class="service billing-lists">
                  <div class="service-caption">Расчетные листки</div>
                  <div class="service-icon">
                    <img src="/assets/folders.png">
                  </div>
                </a>
              <!-- End: Ссылка на расчетные листки -->

              <!-- Start: Ссылка на телефонный справочник -->
                <a href="http://10.50.0.153:4444" target="_blank" class="service phone-book">
                  <div class="service-caption">Телефонный справочник</div>
                  <div class="service-icon">
                    <img src="/assets/phone.png">
                  </div>
                </a>
              <!-- End: Ссылка на телефонный справочник -->

              <!-- Start: Ссылка на АСУД -->
              <a href="http://192.168.90.14:7777/asud_sz/" target="_blank" class="service asud">
                <div class="service-caption">АСУД</div>
                <div class="service-icon">
                  <img src="/assets/asud.png">
                </div>
              </a>
              <!-- End: Ссылка на АСУД -->
            </div>
          </div>
          <!-- End: Сервисы -->
        </div>
      </div>
      <!-- End: Наши сервисы -->

      <!-- Start: Полезные ресурсы -->
      <div class="row no-gutters mt-5">
        <div class="col-12">
          <span class="caption">Полезные ресурсы</span>
        </div>
      </div>
      <div class="row no-gutters mt-3">
        <div class="col-12">
          <!-- Start: Полезные ресурсы -->
          <div class="services">
            <div class="row justify-content-between mt-2">
              <!-- Start: Ссылка портал МРСК СЗ -->
              <a href="http://portal.mrsksevzap.ru" target="_blank" class="service external-web">
                <div class="service-caption">Портал МРСК С-З</div>
                <div class="service-icon">
                  <img src="/assets/mrsk-portal.png">
                </div>
              </a>
              <!-- End: Ссылка на портал МРСК СЗ -->

              <!-- Start: Ссылка на сайт МРСК С-З -->
              <a href="http://www.mrsksevzap.ru" target="_blank" class="service external-web">
                <div class="service-caption">Сайт<br>МРСК С-З</div>
                <div class="service-icon">
                  <img src="/assets/mrsk-site.png">
                </div>
              </a>
              <!-- End: Ссылка на сайт МРСК С-З -->

              <!-- Start: Ссылка на сайт ГИС ПРОФИ -->
              <a href="http://gisprofi.com/enterprise-auth/mrsksevzap_corp" target="_blank" class="service external-web">
                <div class="service-caption">ГИС-Профи</div>
                <div class="service-icon">
                  <img src="/assets/gis-profi.png">
                </div>
              </a>
              <!-- End: Ссылка на сайт ГИС ПРОФИ -->
            </div>
          </div>
          <!-- End: Полезные ресурсы -->
        </div>
      </div>
      <!-- End: Полезные ресурсы -->

      <!-- Start: Мы в соцсетях -->
      <div class="row no-gutters mt-5">
        <div class="col-12">
          <span class="caption">Мы в соцсетях</span>
        </div>
      </div>
      <div class="row no-gutters mt-3">
        <div class="col-12">
          <div class="services">
            <div class="row justify-content-between mt-2">
              <!-- Start: Ссылка на facebook -->
              <a href="https://www.facebook.com/mrsksevzap" target="_blank" class="service social facebook">
                <i class="fab fa-facebook-f fa-2x"></i>
              </a>
              <!-- End: Ссылка на facebook -->

              <!-- Start: Ссылка на twitter -->
              <a href="https://twitter.com/mrsksevzap" target="_blank" class="service social twitter">
                <i class="fab fa-twitter fa-2x"></i>
              </a>
              <!-- End: Ссылка на twitter -->

              <!-- Start: Ссылка на instagram -->
              <a href="https://www.instagram.com/mrsksevzap" target="_blank" class="service social instagram">
                <i class="fab fa-instagram fa-2x"></i>
              </a>
              <!-- End: Ссылка на instagram -->
            </div>
            <div class="row justify-content-between mt-3">
              <!-- Start: Ссылка на Вместе ярче -->
              <a href="https://www.вместеярче.рф" target="_blank" class="banner together-brighter"></a>
              <!-- End: Ссылка на Вместе ярче -->
            </div>
          </div>
        </div>
      </div>
      <!-- End: Мы в соцсетях -->
    </div>

  </div>
  <div class="content-column p-4">
    <div class="container-fluid pt-2">
      <div class="row">
        <!-- Start: Объявления -->
        <div class="col-12">
          <div class="section">
            <div class="section-content">
              <app-adverts-section
                [adverts]="adverts$ | async"
                [totalAdvertsCount]="totalAdverts"
                [fetchingInProgress]="advertsIsFetching$ | async"
                (previousAdverts)="loadAdvertsPreviousPage($event)"
                (nextAdverts)="loadAdvertsNextPage($event)">
              </app-adverts-section>
            </div>
          </div>
        </div>
        <!-- End: Объявления -->
      </div>

      <!-- Start: Разделитель -->
      <div class="row separator mt-4 pt-3 mb-2 pb-3 justify-content-center">
        <div class="col-12 col-md-12 col-lg-10 col-xl-10 d-flex flex-row justify-content-center align-content-center">
          <mat-icon>offline_bolt</mat-icon>
        </div>
      </div>
      <!-- End: Разделитель -->

      <div class="row">
        <!-- Start: Наши люди -->
        <div class="col-12">
          <div class="section h-100">
            <div class="section-caption">Наши люди</div>
            <div class="section-content h-100">

              <div class="our-people">
                <div class="col-6 col-md-6 col-lg-6 col-xl-4 p-0">
                  <a href="#" class="person" [style.background]="'url(http://www.kolen.elektra.ru/newspicture/image/%D0%97%D0%B0%D0%B1%D0%BE%D1%80%D1%89%D0%B8%D0%BA%D0%BE%D0%B2%D0%B0%20%D0%95.jpg)'">
                    <div class="details">
                      <div class="caption">Елена Заборщикова</div>
                      <div class="description">Спорт – моя вторая жизнь</div>
                    </div>
                  </a>
                </div>

                <div class="col-6 col-md-6 col-lg-6 col-xl-4 p-0 ml-1">
                  <a href="#" class="person" [style.background]="'url(http://www.kolen.elektra.ru/newspicture/image/our_people/photo_0001.jpg)'">
                    <div class="details">
                      <div class="caption">Вера Цикота</div>
                      <div class="description">Метрологи – это вам не синоптики</div>
                    </div>
                  </a>
                </div>

                <div class="col-4 p-0 ml-1 d-none d-xl-flex">
                  <a href="#" class="person" [style.background]="'url(http://www.kolen.elektra.ru/newspicture/news_190409.jpg)'">
                    <div class="details">
                      <div class="caption">Геннадий Сорокин</div>
                      <div class="description">Когда опоры гнутся, а люди не сдаются</div>
                    </div>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- End: Наши люди -->
      </div>
    </div>
  </div>
</div>



<!--
<div id="app-content">

  <div class="row h-100">
    <div class="service-column col-4 h-100">
      <div class="search-bar">
        <div class="prefix">
          <mat-icon>search</mat-icon>
        </div>
        <input type="text" placeholder="Поиск в телефонном справочнике">
      </div>
    </div>

    <div class="col-8">

      <div class="row">
        <div class="col-12">
          <div class="section">
            <div class="section-content">
              <app-adverts-section
                [adverts]="adverts$ | async"
                [totalAdvertsCount]="totalAdverts"
                [fetchingInProgress]="advertsIsFetching$ | async"
                (previousAdverts)="loadAdvertsPreviousPage($event)"
                (nextAdverts)="loadAdvertsNextPage($event)">
              </app-adverts-section>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="section h-100">
            <div class="section-caption">Наши люди</div>
            <div class="section-content h-100">

              <div class="our-people">
                <div class="col-6 col-md-6 col-lg-6 col-xl-4 p-0">
                  <a href="#" class="person" [style.background]="'url(http://www.kolen.elektra.ru/newspicture/image/%D0%97%D0%B0%D0%B1%D0%BE%D1%80%D1%89%D0%B8%D0%BA%D0%BE%D0%B2%D0%B0%20%D0%95.jpg)'">
                    <div class="details">
                      <div class="caption">Елена Заборщикова</div>
                      <div class="description">Спорт – моя вторая жизнь</div>
                    </div>
                  </a>
                </div>

                <div class="col-6 col-md-6 col-lg-6 col-xl-4 p-0 ml-1">
                  <a href="#" class="person" [style.background]="'url(http://www.kolen.elektra.ru/newspicture/image/our_people/photo_0001.jpg)'">
                    <div class="details">
                      <div class="caption">Вера Цикота</div>
                      <div class="description">Метрологи – это вам не синоптики</div>
                    </div>
                  </a>
                </div>

                <div class="col-4 p-0 ml-1 d-none d-xl-flex">
                  <a href="#" class="person" [style.background]="'url(http://www.kolen.elektra.ru/newspicture/news_190409.jpg)'">
                    <div class="details">
                      <div class="caption">Геннадий Сорокин</div>
                      <div class="description">Когда опоры гнутся, а люди не сдаются</div>
                    </div>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>




  <div class="row">

    <div class="col-md-6 col-lg-6 col-xl-5">
      <div class="section">
        <div class="section-caption">Сервисы и полезные ресурсы</div>
        <div class="section-content highlighted p-4 flex-column">

          <div class="search-bar">
            <div class="prefix">
              <mat-icon>search</mat-icon>
            </div>
            <input type="text" placeholder="Поиск абонентов в телефонном справочнике">
          </div>

          <div class="services">
            <div class="row">
              <div class="col-3 col-lg-4 col-xl-3 pl-1 pr-1 d-flex flex-row justify-content-start">
                <a href="#" class=" service ukitasu">
                  <div class="service-caption">Заявки УКиТАСУ</div>
                  <div class="service-icon">
                    <img src="/assets/printer.png">
                  </div>
                </a>
              </div>

              <div class="col-3 col-lg-4 col-xl-3 pl-1 pr-1 d-flex flex-row justify-content-center">
                <a href="#" class="service auto">
                  <div class="service-caption">Заявки на транспорт</div>
                  <div class="service-icon">
                    <img src="/assets/car.png" alt="">
                  </div>
                </a>
              </div>

              <div class="col-3 col-lg-4 col-xl-3 pl-1 pr-1 d-flex flex-row justify-content-center justify-content-md-end justify-content-xl-end">
                <a href="#" class="service aho">
                  <div class="service-caption">Заявки АХО</div>
                  <div class="service-icon">
                    <img src="/assets/toolbox.png">
                  </div>
                </a>
              </div>

              <div class="col-3 col-lg-4 col-xl-3 pl-1 pr-1 d-flex flex-row justify-content-end justify-content-xl-end">
                <a href="#" class="service billing-lists">
                  <div class="service-caption">Расчетные листки</div>
                  <div class="service-icon">
                    <img src="/assets/folders.png">
                  </div>
                </a>
              </div>

              <div class="col-3 col-lg-4 col-xl-3 pl-1 pr-1">
                <a href="#" class="service phone-book">
                  <div class="service-caption">Телефонный справочник</div>
                  <div class="service-icon">
                    <img src="/assets/phone.png">
                  </div>
                </a>
              </div>

            </div>
          </div>


          <div class="links mt-3">
            <div class="row">
              <div class="col-6 col-md-3 col-lg-6 col-xl-4 pl-1 pr-1">
                <a href="#" class="link mrsk-site">
                  <div class="link-caption">Сайт "МРСК С-З"</div>
                </a>
              </div>

              <div class="col-6 col-md-3 col-lg-6 col-xl-4 pl-1 pr-1">
                <a href="#" class="link mrsk-portal">
                  <div class="link-caption">Портал "МРСК С-З"</div>
                </a>
              </div>

              <div class="col-6 col-md-3 col-lg-6 col-xl-4 pl-1 pr-1">
                <a href="#" class="link asud">
                  <div class="link-caption">АСУД</div>
                </a>
              </div>

              <div class="col-6 col-md-3 col-lg-6 col-xl-4 pl-1 pr-1">
                <a href="#" class="link gis-profi">
                  <div class="link-caption">ГИС-Профи</div>
                </a>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="col-12 col-md-5 col-md-6 col-xl-7">
      <div class="section">
        <div class="section-content">
          <app-adverts-section
            [adverts]="adverts$ | async"
            [totalAdvertsCount]="totalAdverts"
            [fetchingInProgress]="advertsIsFetching$ | async"
            (previousAdverts)="loadAdvertsPreviousPage($event)"
            (nextAdverts)="loadAdvertsNextPage($event)">
          </app-adverts-section>
        </div>
      </div>
    </div>

    <div class="col-6">

    </div>

  </div>


  <div class="row separator mt-4 pt-3 mb-2 pb-2 justify-content-center">
    <div class="col-12 col-md-12 col-lg-10 col-xl-10 d-flex flex-row justify-content-center align-content-center">
      <mat-icon>offline_bolt</mat-icon>
    </div>
  </div>

  <div class="row pb-4">
    <div class="col-md-6 col-lg-7 col-xl-8">
      <div class="section h-100">
        <div class="section-caption">Наши люди</div>
        <div class="section-content h-100">

          <div class="our-people">
            <div class="col-6 col-md-6 col-lg-6 col-xl-4 p-0">
              <a href="#" class="person" [style.background]="'url(http://www.kolen.elektra.ru/newspicture/image/%D0%97%D0%B0%D0%B1%D0%BE%D1%80%D1%89%D0%B8%D0%BA%D0%BE%D0%B2%D0%B0%20%D0%95.jpg)'">
                <div class="details">
                  <div class="caption">Елена Заборщикова</div>
                  <div class="description">Спорт – моя вторая жизнь</div>
                </div>
              </a>
            </div>

            <div class="col-6 col-md-6 col-lg-6 col-xl-4 p-0 ml-1">
              <a href="#" class="person" [style.background]="'url(http://www.kolen.elektra.ru/newspicture/image/our_people/photo_0001.jpg)'">
                <div class="details">
                  <div class="caption">Вера Цикота</div>
                  <div class="description">Метрологи – это вам не синоптики</div>
                </div>
              </a>
            </div>

            <div class="col-4 p-0 ml-1 d-none d-xl-flex">
              <a href="#" class="person" [style.background]="'url(http://www.kolen.elektra.ru/newspicture/news_190409.jpg)'">
                <div class="details">
                  <div class="caption">Геннадий Сорокин</div>
                  <div class="description">Когда опоры гнутся, а люди не сдаются</div>
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-5 col-xl-4">

      <div class="section h-100">
        <div class="section-caption">Сотрудники</div>
        <div class="section-content h-100 p-0">

          <div class="switcher">
            <div class="variants">
              <span class="variant active">
                <mat-icon>person</mat-icon>
                Отсутствуют
              </span>
              <span class="variant">
                <mat-icon>cake</mat-icon>
                Дни рождения
              </span>
            </div>
            <div class="content">
              <div class="employee-list grid-like p-3">

                <div class="employee">
                  <div class="avatar"></div>
                  <div class="details">
                    <div class="name">Трофимов Илья Владимирович</div>
                    <div class="description">в отпуске с 02.07 до 03.08</div>
                  </div>
                </div>

                <div class="employee">
                  <div class="avatar"></div>
                  <div class="details">
                    <div class="name">Трофимов Илья Владимирович</div>
                    <div class="description">в отпуске с 02.07 до 03.08</div>
                  </div>
                </div>

                <div class="employee">
                  <div class="avatar"></div>
                  <div class="details">
                    <div class="name">Трофимов Илья Владимирович</div>
                    <div class="description">в отпуске с 02.07 до 03.08</div>
                  </div>
                </div>

                <div class="employee">
                  <div class="avatar"></div>
                  <div class="details">
                    <div class="name">Трофимов Илья Владимирович</div>
                    <div class="description">в отпуске с 02.07 до 03.08</div>
                  </div>
                </div>

                <div class="employee">
                  <div class="avatar"></div>
                  <div class="details">
                    <div class="name">Трофимов Илья Владимирович</div>
                    <div class="description">в отпуске с 02.07 до 03.08</div>
                  </div>
                </div>

                <div class="employee">
                  <div class="avatar"></div>
                  <div class="details">
                    <div class="name">Трофимов Илья Владимирович</div>
                    <div class="description">в отпуске с 02.07 до 03.08</div>
                  </div>
                </div>

                <div class="employee">
                  <div class="avatar"></div>
                  <div class="details">
                    <div class="name">Трофимов Илья Владимирович</div>
                    <div class="description">в отпуске с 02.07 до 03.08</div>
                  </div>
                </div>

                <div class="employee">
                  <div class="avatar"></div>
                  <div class="details">
                    <div class="name">Трофимов Илья Владимирович</div>
                    <div class="description">в отпуске с 02.07 до 03.08</div>
                  </div>
                </div>

                <div class="employee">
                  <div class="avatar"></div>
                  <div class="details">
                    <div class="name">Трофимов Илья Владимирович</div>
                    <div class="description">в отпуске с 02.07 до 03.08</div>
                  </div>
                </div>

                <div class="employee">
                  <div class="avatar"></div>
                  <div class="details">
                    <div class="name">Трофимов Илья Владимирович</div>
                    <div class="description">в отпуске с 02.07 до 03.08</div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row">

        <div class="col-5">
          <div class="section">
            <div class="section-caption">Отсутствуют сегодня</div>
            <div class="section-markup">
              <div class="employee-list">

                <div class="employee">
                  <div class="avatar"></div>
                  <div class="details">
                    <div class="name">Пупков Василий Федорович</div>
                    <div class="description">с 15 июля до 3 августа</div>
                  </div>
                </div>

                <div class="employee">
                  <div class="avatar"></div>
                  <div class="details">
                    <div class="name">Константинов Виктор Сергеевич</div>
                    <div class="description">с 19 июля до 29 июля</div>
                  </div>
                </div>

                <div class="employee">
                  <div class="avatar"></div>
                  <div class="details">
                    <div class="name">Трофимов Илья Степанович</div>
                    <div class="description">с 4 июля до 6 августа</div>
                  </div>
                </div>

                <div class="employee">
                  <div class="avatar"></div>
                  <div class="details">
                    <div class="name">Константинов Виктор Сергеевич</div>
                    <div class="description">с 19 июля до 29 июля</div>
                  </div>
                </div>

                <div class="employee">
                  <div class="avatar"></div>
                  <div class="details">
                    <div class="name">Трофимов Илья Степанович</div>
                    <div class="description">с 4 июля до 6 августа</div>
                  </div>
                </div>

              </div>
              <a href="#" class="section-more-link mt-4">Смотреть все статьи</a>
            </div>
          </div>
        </div>

        <div class="col-7">
          <div class="section">
            <div class="section-caption">Дни рождения</div>
            <div class="section-markup highlighted">
              <div class="employee-list">

                <div class="employee">
                  <div class="avatar"></div>
                  <div class="details">
                    <div class="name">Пупков Василий Федорович</div>
                    <div class="description">с 15 июля до 3 августа</div>
                  </div>
                </div>

                <div class="employee">
                  <div class="avatar"></div>
                  <div class="details">
                    <div class="name">Константинов Виктор Сергеевич</div>
                    <div class="description">с 19 июля до 29 июля</div>
                  </div>
                </div>

                <div class="employee">
                  <div class="avatar"></div>
                  <div class="details">
                    <div class="name">Трофимов Илья Степанович</div>
                    <div class="description">с 4 июля до 6 августа</div>
                  </div>
                </div>

                <div class="employee">
                  <div class="avatar"></div>
                  <div class="details">
                    <div class="name">Константинов Виктор Сергеевич</div>
                    <div class="description">с 19 июля до 29 июля</div>
                  </div>
                </div>

                <div class="employee">
                  <div class="avatar"></div>
                  <div class="details">
                    <div class="name">Трофимов Илья Степанович</div>
                    <div class="description">с 4 июля до 6 августа</div>
                  </div>
                </div>

              </div>

              <a href="#" class="section-more-link mt-4">Смотреть все статьи</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
-->
