<div class="grid">

  <div class="request">

    <!-- Start: Номер заявки и статус -->
    <div class="data-block">
      <!--<div class="label">#349</div>-->
      <div class="details justify-content-between">
        <span class="secondary-data">#1354</span>
        <mat-icon class="mt-2 align-self-center">check_circle</mat-icon>
      </div>
    </div>
    <!-- End: Номер заявки и статус -->

    <!-- Start: Инициатор / заказчик -->
    <div class="data-block">
      <!--<div class="label">Заказчик</div>-->
      <div class="details">
        <span class="primary-data">Дмитрий Афанасьев</span>
      </div>
    </div>
    <!-- End: Инициатор / заказчик -->

    <!-- Start: О поездке -->
    <div class="data-block">
      <!--<div class="label">О поездке</div>-->
      <div class="details">
        <span class="secondary-data">Участие в судебном заседании. Совещание в администрации.</span>
      </div>
    </div>
    <!-- End: О поездке -->

    <!-- Start: Время / маршрут -->
    <div class="data-block">
      <!--<div class="label">Длительность / маршрут</div>-->
      <div class="details">
        <div class="route-path">
          <div class="timeline">
            <span class="time">13:30</span>
            <span class="time">16:00</span>
          </div>
          <div class="routes">
            <div class="route">
              <span class="marker primary"></span>
              <span class="label">МРСК Северо-Запада</span>
            </div>
            <div class="route">
              <span class="marker"></span>
              <span class="label">Арбитражный суд</span>
            </div>
            <div class="route">
              <span class="marker"></span>
              <span class="label">Администрация</span>
            </div>
            <div class="route">
              <span class="marker primary"></span>
              <span class="label">МРСК Северо-Запада</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End: Время / маршрут -->

    <!-- Start: Автомобиль -->
    <div class="data-block">
      <!--<div class="label">Автомобиль / водитель</div>-->
      <div class="details">
        <span class="primary-data">Wolkswagen Polo</span>
        <span class="secondary-data">Т561МХ</span>
      </div>
      <div class="details">
        <span class="primary-data">Микка Хаккинен</span>
        <span class="secondary-data">+7(921)555-66-77</span>
      </div>
    </div>
    <!-- End: Автомобиль -->

    <!-- Start: Водитель -->
    <!--
    <div class="data-block">
      <div class="label">Водитель</div>
      <div class="details">
        <span class="primary-data">Микка Хаккинен</span>
        <span class="secondary-data">+7(921)555-66-77</span>
      </div>
    </div>
    -->
    <!-- End: Водитель -->

  </div>

  <div class="request">

    <!-- Start: Номер заявки и статус -->
    <div class="data-block">
      <!--<div class="label">#349</div>-->
      <div class="details justify-content-between">
        <span class="secondary-data">#1354</span>
        <mat-icon class="mt-2 align-self-center">check_circle</mat-icon>
      </div>
    </div>
    <!-- End: Номер заявки и статус -->

    <!-- Start: Инициатор / заказчик -->
    <div class="data-block">
      <!--<div class="label">Заказчик</div>-->
      <div class="details">
        <span class="primary-data">Дмитрий Афанасьев</span>
      </div>
    </div>
    <!-- End: Инициатор / заказчик -->

    <!-- Start: О поездке -->
    <div class="data-block">
      <!--<div class="label">О поездке</div>-->
      <div class="details">
        <span class="secondary-data">Участие в судебном заседании. Совещание в администрации.</span>
      </div>
    </div>
    <!-- End: О поездке -->

    <!-- Start: Время / маршрут -->
    <div class="data-block">
      <!--<div class="label">Длительность / маршрут</div>-->
      <div class="details">
        <div class="route-path">
          <div class="timeline">
            <span class="time">13:30</span>
            <span class="time">16:00</span>
          </div>
          <div class="routes">
            <div class="route">
              <span class="marker primary"></span>
              <span class="label">МРСК Северо-Запада</span>
            </div>
            <div class="route">
              <span class="marker"></span>
              <span class="label">Арбитражный суд</span>
            </div>
            <div class="route">
              <span class="marker primary"></span>
              <span class="label">МРСК Северо-Запада</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End: Время / маршрут -->

    <!-- Start: Автомобиль -->
    <div class="data-block">
      <!--<div class="label">Автомобиль / водитель</div>-->
      <div class="details">
        <span class="primary-data">Wolkswagen Polo</span>
        <span class="secondary-data">Т561МХ</span>
      </div>
      <div class="details">
        <span class="primary-data">Микка Хаккинен</span>
        <span class="secondary-data">+7(921)555-66-77</span>
      </div>
    </div>
    <!-- End: Автомобиль -->

    <!-- Start: Водитель -->
    <!--
    <div class="data-block">
      <div class="label">Водитель</div>
      <div class="details">
        <span class="primary-data">Микка Хаккинен</span>
        <span class="secondary-data">+7(921)555-66-77</span>
      </div>
    </div>
    -->
    <!-- End: Водитель -->

  </div>

  <div class="request">

    <!-- Start: Номер заявки и статус -->
    <div class="data-block">
      <!--<div class="label">#349</div>-->
      <div class="details justify-content-between">
        <span class="secondary-data">#1354</span>
        <mat-icon class="mt-2 align-self-center">check_circle</mat-icon>
      </div>
    </div>
    <!-- End: Номер заявки и статус -->

    <!-- Start: Инициатор / заказчик -->
    <div class="data-block">
      <!--<div class="label">Заказчик</div>-->
      <div class="details">
        <span class="primary-data">Дмитрий Афанасьев</span>
      </div>
    </div>
    <!-- End: Инициатор / заказчик -->

    <!-- Start: О поездке -->
    <div class="data-block">
      <!--<div class="label">О поездке</div>-->
      <div class="details">
        <span class="secondary-data">Участие в судебном заседании. Совещание в администрации.</span>
      </div>
    </div>
    <!-- End: О поездке -->

    <!-- Start: Время / маршрут -->
    <div class="data-block">
      <!--<div class="label">Длительность / маршрут</div>-->
      <div class="details">
        <div class="route-path">
          <div class="timeline">
            <span class="time">13:30</span>
            <span class="time">16:00</span>
          </div>
          <div class="routes">
            <div class="route">
              <span class="marker primary"></span>
              <span class="label">МРСК Северо-Запада</span>
            </div>
            <div class="route">
              <span class="marker"></span>
              <span class="label">Арбитражный суд</span>
            </div>
            <div class="route">
              <span class="marker"></span>
              <span class="label">Администрация</span>
            </div>
            <div class="route">
              <span class="marker primary"></span>
              <span class="label">МРСК Северо-Запада</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End: Время / маршрут -->

    <!-- Start: Автомобиль -->
    <div class="data-block">
      <!--<div class="label">Автомобиль / водитель</div>-->
      <div class="details">
        <span class="primary-data">Wolkswagen Polo</span>
        <span class="secondary-data">Т561МХ</span>
      </div>
      <div class="details">
        <span class="primary-data">Микка Хаккинен</span>
        <span class="secondary-data">+7(921)555-66-77</span>
      </div>
    </div>
    <!-- End: Автомобиль -->

    <!-- Start: Водитель -->
    <!--
    <div class="data-block">
      <div class="label">Водитель</div>
      <div class="details">
        <span class="primary-data">Микка Хаккинен</span>
        <span class="secondary-data">+7(921)555-66-77</span>
      </div>
    </div>
    -->
    <!-- End: Водитель -->

  </div>

  <div class="request">

    <!-- Start: Номер заявки и статус -->
    <div class="data-block">
      <!--<div class="label">#349</div>-->
      <div class="details justify-content-between">
        <span class="secondary-data">#1354</span>
        <mat-icon class="mt-2 align-self-center">check_circle</mat-icon>
      </div>
    </div>
    <!-- End: Номер заявки и статус -->

    <!-- Start: Инициатор / заказчик -->
    <div class="data-block">
      <!--<div class="label">Заказчик</div>-->
      <div class="details">
        <span class="primary-data">Дмитрий Афанасьев</span>
      </div>
    </div>
    <!-- End: Инициатор / заказчик -->

    <!-- Start: О поездке -->
    <div class="data-block">
      <!--<div class="label">О поездке</div>-->
      <div class="details">
        <span class="secondary-data">Участие в судебном заседании. Совещание в администрации.</span>
      </div>
    </div>
    <!-- End: О поездке -->

    <!-- Start: Время / маршрут -->
    <div class="data-block">
      <!--<div class="label">Длительность / маршрут</div>-->
      <div class="details">
        <div class="route-path">
          <div class="timeline">
            <span class="time">13:30</span>
            <span class="time">16:00</span>
          </div>
          <div class="routes">
            <div class="route">
              <span class="marker primary"></span>
              <span class="label">МРСК Северо-Запада</span>
            </div>
            <div class="route">
              <span class="marker"></span>
              <span class="label">Арбитражный суд</span>
            </div>
            <div class="route">
              <span class="marker primary"></span>
              <span class="label">МРСК Северо-Запада</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End: Время / маршрут -->

    <!-- Start: Автомобиль -->
    <div class="data-block">
      <!--<div class="label">Автомобиль / водитель</div>-->
      <div class="details">
        <span class="primary-data">Wolkswagen Polo</span>
        <span class="secondary-data">Т561МХ</span>
      </div>
      <div class="details">
        <span class="primary-data">Микка Хаккинен</span>
        <span class="secondary-data">+7(921)555-66-77</span>
      </div>
    </div>
    <!-- End: Автомобиль -->

    <!-- Start: Водитель -->
    <!--
    <div class="data-block">
      <div class="label">Водитель</div>
      <div class="details">
        <span class="primary-data">Микка Хаккинен</span>
        <span class="secondary-data">+7(921)555-66-77</span>
      </div>
    </div>
    -->
    <!-- End: Водитель -->

  </div>

  <div class="request">

    <!-- Start: Номер заявки и статус -->
    <div class="data-block">
      <!--<div class="label">#349</div>-->
      <div class="details justify-content-between">
        <span class="secondary-data">#1354</span>
        <mat-icon class="mt-2 align-self-center">check_circle</mat-icon>
      </div>
    </div>
    <!-- End: Номер заявки и статус -->

    <!-- Start: Инициатор / заказчик -->
    <div class="data-block">
      <!--<div class="label">Заказчик</div>-->
      <div class="details">
        <span class="primary-data">Дмитрий Афанасьев</span>
      </div>
    </div>
    <!-- End: Инициатор / заказчик -->

    <!-- Start: О поездке -->
    <div class="data-block">
      <!--<div class="label">О поездке</div>-->
      <div class="details">
        <span class="secondary-data">Участие в судебном заседании. Совещание в администрации.</span>
      </div>
    </div>
    <!-- End: О поездке -->

    <!-- Start: Время / маршрут -->
    <div class="data-block">
      <!--<div class="label">Длительность / маршрут</div>-->
      <div class="details">
        <div class="route-path">
          <div class="timeline">
            <span class="time">13:30</span>
            <span class="time">16:00</span>
          </div>
          <div class="routes">
            <div class="route">
              <span class="marker primary"></span>
              <span class="label">МРСК Северо-Запада</span>
            </div>
            <div class="route">
              <span class="marker"></span>
              <span class="label">Арбитражный суд</span>
            </div>
            <div class="route">
              <span class="marker"></span>
              <span class="label">Администрация</span>
            </div>
            <div class="route">
              <span class="marker primary"></span>
              <span class="label">МРСК Северо-Запада</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End: Время / маршрут -->

    <!-- Start: Автомобиль -->
    <div class="data-block">
      <!--<div class="label">Автомобиль / водитель</div>-->
      <div class="details">
        <span class="primary-data">Wolkswagen Polo</span>
        <span class="secondary-data">Т561МХ</span>
      </div>
      <div class="details">
        <span class="primary-data">Микка Хаккинен</span>
        <span class="secondary-data">+7(921)555-66-77</span>
      </div>
    </div>
    <!-- End: Автомобиль -->

    <!-- Start: Водитель -->
    <!--
    <div class="data-block">
      <div class="label">Водитель</div>
      <div class="details">
        <span class="primary-data">Микка Хаккинен</span>
        <span class="secondary-data">+7(921)555-66-77</span>
      </div>
    </div>
    -->
    <!-- End: Водитель -->

  </div>

</div>
