<div class="sign-in-container">

  <div class="side p-5">

    <img src="/assets/images/car-front.png">

    <div class="title mt-2">Заявка #{{(selectedRequest$| async)?.id}}</div>
    <div class="comment"> от {{(selectedRequest$| async)?.dateCreatedD | date:'dd MMMM yyyy, HH:mm'}}</div>

    <div class="labeled-field w-75 mt-5">
      <div class="label">Транспорт</div>
      <div class="value">
        {{(selectedRequest$ | async)?.transport ? (selectedRequest$ | async).transport.model : 'Не назначен'}}
      </div>
      <div class="description" *ngIf="(selectedRequest$ | async)?.transport">
        Рег. номер: {{(selectedRequest$ | async)?.transport?.registrationNumber}}
      </div>
    </div>

    <div class="labeled-field w-75 mt-4">
      <div class="label">Водитель</div>
      <div class="value">
        {{(selectedRequest$ | async)?.driver ? (selectedRequest$ | async).driver.firstName + ' ' + (selectedRequest$ | async).driver.lastName : 'Не назначен'}}
      </div>
      <div class="description" *ngIf="(selectedRequest$ | async)?.driver?.phone">
        Телефон: {{(selectedRequest$ | async).driver.phone}}
      </div>
    </div>

    <div class="status w-75 mt-5">
      <mat-icon [ngStyle]="{'color': (selectedRequest$ | async)?.status.color}">
        {{(selectedRequest$ | async)?.status.icon}}
      </mat-icon>
      <span class="status-title" [ngStyle]="{'color': (selectedRequest$ | async)?.status.color}">
          Заявка {{(selectedRequest$ | async)?.status.title.toLowerCase()}}
        <span class="reason" *ngIf="(selectedRequest$ | async)?.status.id === 3 && (selectedRequest$ | async)?.rejectReason">
          {{(selectedRequest$ | async)?.rejectReason?.title}}
        </span>
      </span>
    </div>

    <button mat-raised-button
            color="warn"
            class="w-100 p-2 mt-5"
            [disabled]="(isLoading$ | async)"
            *ngIf="(selectedRequest$ | async)?.status.id !== 3 && (selectedRequest$ | async)?.status.id !== 5 && (user$ | async)?.id === (selectedRequest$ | async)?.user.id"
            (click)="cancelRequest()">
      Отменить заявку
    </button>
  </div>


  <div class="content p-5">
    <div class="row no-gutters w-100 h-100">
      <div class="col-12 h-100">

        <div class="labeled-field w-100 mb-4" *ngIf="(selectedRequest$ | async)?.initiator">
          <div class="label">Инициатор</div>
          <div class="value">
            {{(selectedRequest$ | async)?.initiator
              ? (selectedRequest$ | async).initiator.hasOwnProperty('id')
                ?  (selectedRequest$ | async).initiator.firstName + ' ' + (selectedRequest$ | async).initiator.lastName
                : (selectedRequest$ | async).initiator
              : 'Не назначен'}}
          </div>
          <div class="description" *ngIf="initiatorPosition">
            {{initiatorPosition}}
          </div>
        </div>

        <div class="labeled-field w-100">
          <div class="label">Заказчик</div>
          <div class="value">
            {{(selectedRequest$ | async)?.user.firstName + ' ' + (selectedRequest$ | async)?.user.lastName}}
          </div>
          <div class="description" *ngIf="(selectedRequest$ | async)?.user?.position">
            {{(selectedRequest$ | async)?.user.position}}
          </div>
        </div>

        <div class="labeled-field w-100 mt-4">
          <div class="label">Дата и время поездки</div>
          <div class="value">
            {{(selectedRequest$ | async)?.startTimeD | date:'dd MMMM yyyy, HH:mm'}}&mdash;
            {{(selectedRequest$ | async)?.endTimeD | date:'HH:mm'}}
          </div>
        </div>

        <div class="labeled-field w-100 mt-4">
          <div class="label">О поездке</div>
          <div class="value">
            {{(selectedRequest$ | async)?.description}}
          </div>
        </div>

        <div class="labeled-field w-100 mt-4">
          <div class="label">Маршрут</div>
          <app-route-path [routes]="(selectedRequest$ | async).route" [extended]="false"></app-route-path>
        </div>

      </div>

    </div>
  </div>
</div>
