<div class="row mt-md-3 align-items-start">
  <div class="col-12">
    <div class="section-caption small pb-0">
      <a routerLink="/adverts">Объявления</a>
      <span class="ml-2 mr-2">/</span>
      <span>{{(selectedAdvert$ | async)?.title}}</span>
    </div>
  </div>
</div>

<div class="row align-items-start">
  <div class="col-12">
    <div class="section-caption small">
      <span class="attribute">{{(selectedAdvert$ | async)?.dateCreatedD | date:'dd MMMM yyyy'}}</span>
    </div>
  </div>
</div>

<div class="mt-3" [innerHtml]="markup"></div>

<!-- Start: Вложения в объявлении -->
<div class="row mt-md-5">
  <div class="col-12">
    <app-attachments-list
      [attachments]="(selectedAdvert$ | async)?.attachments"
      [caption]="'Вложения'"
      [showCaptionIfNoAttachments]="false"
      [showNoAttachmentsPlaceholder]="false"
      [allowDelete]="true">
    </app-attachments-list>
  </div>
</div>
<!-- End: Вложения в объявлении -->
