@side-width: 400px;
@side-background-color: linear-gradient(#e3f2fd, rgba(235,246,253, 0.5));
@subtitle-font-family: 'Open Sans Regular';
@subtitle-font-size: 13px;
@subtitle-color: #607d8b;
@title-font-family: 'Open Sans Semi Bold';
@title-font-size: 24px;
@title-color: #37474f;
@caption-font-family: 'Open Sans Light';
@caption-font-size: 23px;
@caption-color: #546e7a;
@info-font-family: 'Open Sans Light';
@info-font-size: 13px;
@info-color: #90a4ae;
@comment-font-family: 'Open Sans Light';
@comment-font-size: 14px;
@comment-color: #546e7a;

&:host {
  display: block;
  width: 100%;
  height: 100%;
}

.sign-in-container {
  display: flex;
  flex-direction: row;
  height: 100%;

  .side {
    overflow: visible;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    width: @side-width;
    background: @side-background-color;

    .title {
      font-family: @title-font-family;
      font-size: @title-font-size;
      line-height: @title-font-size;
      color: @title-color;
    }

    .comment {
      margin-top: 5px;
      font-family: @comment-font-family;
      font-size: @comment-font-size;
      line-height: @comment-font-size + 1px;
      color: @comment-color;
    }

    .labeled-field {
      display: flex;
      flex-direction: column;
      min-height: 60px;

      .label {
        margin-bottom: 10px;
        font-family: 'Open Sans Regular';
        font-size: 13px;
        line-height: 13px;
        color: #607d8b;
      }

      .value {
        margin-bottom: 5px;
        font-family: 'Open Sans Regular';
        font-size: 16px;
        line-height: 18px;
        color: #263238;
      }

      .description {
        font-family: 'Open Sans Light';
        font-size: 14px;
        line-height: 14px;
        color: #757575;
      }
    }

    .status {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 50px;

      .mat-icon {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        font-size: 40px;
      }

      .status-title {
        font-family: 'Open Sans Semi Bold';
        font-size: 18px;
        line-height: 18px;
      }
    }



    .label {
      display: flex;
      flex-direction: column;

      .subtitle {
        margin-bottom: 15px;
        font-family: @subtitle-font-family;
        font-size: @subtitle-font-size;
        color: @subtitle-color;
        text-transform: uppercase;
      }

      .title {
        font-family: @title-font-family;
        font-size: @title-font-size;
        line-height: @title-font-size;
        color: @title-color;
      }

      .comment {
        margin-top: 5px;
        font-family: @comment-font-family;
        font-size: @comment-font-size;
        line-height: @comment-font-size + 1px;
        color: @comment-color;
      }

      .status {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 50px;

        .mat-icon {
          width: 40px;
          height: 40px;
          margin-right: 20px;
          font-size: 40px;
        }

        .status-title {
          display: flex;
          flex-direction: column;
          font-family: 'Open Sans Semi Bold';
          font-size: 18px;
          line-height: 18px;

          .reason {
            font-family: 'Open Sans Light' !important;
            font-size: 14px !important;
            line-height: 14px !important;
          }
        }
      }
    }

    img {
      height: 180px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    .right-col {
      border-left: 1px dotted #e0e0e0;
    }

    .labeled-field {
      display: flex;
      flex-direction: column;
      min-height: 60px;

      .label {
        margin-bottom: 10px;
        font-family: 'Open Sans Regular';
        font-size: 13px;
        line-height: 13px;
        color: #607d8b;
      }

      .value {
        margin-bottom: 5px;
        font-family: 'Open Sans Regular';
        font-size: 16px;
        line-height: 18px;
        color: #263238;
      }

      .description {
        font-family: 'Open Sans Light';
        font-size: 14px;
        line-height: 14px;
        color: #757575;
      }
    }

    .info {
      font-family: @info-font-family;
      font-size: @info-font-size;
      line-height: @info-font-size + 2px;
      text-align: center;
      color: @info-color;
    }
  }
}
