<div class="calendar">

  <!-- Start: Текущий месяц, элементы управления -->
  <div class="month-selector">
    <div class="month">{{startOfMonth.format('MMMM YYYY')}}</div>
    <div class="controls">
      <span class="control" (click)="prevMonth()">
        <mat-icon>chevron_left</mat-icon>
      </span>
      <span class="control" (click)="nextMonth()">
        <mat-icon>chevron_right</mat-icon>
      </span>
    </div>
  </div>
  <!--  End: Текущий месяяц, элементы управления -->

  <div class="month-content">
    <div class="day"
         *ngFor="let day of days"
         [ngClass]="{'active': day.isActive === true, 'selected': day.date.isSame(selected, 'day')}">
      {{day.date.date()}}
    </div>
  </div>
</div>
