@request-border-color: #eceff1;

.mat-selection-list {
  &.request-details-tasks {
    .mat-list-option {
      background: white;
      border-bottom: 1px solid @request-border-color;

      &:hover {
        background: #fffde7;
      }

      .mat-list-text {
        font-family: "Segoe UI Light";
      }
    }
  }
}
