<div class="attachments-list">

  <!-- Start: Заголовок блока -->
  <div class="caption" *ngIf="caption">{{caption}}</div>
  <!-- End: Заголовок блока -->

  <div class="attachment">
    <div class="file-type-icon">
      <mat-icon>attach_file</mat-icon>
      <span class="extension">PDF</span>
    </div>
    <div class="details">
      <div class="file-name">
        <a href="">Выпуск журнала "Бездна анального угнетения" за май 2019.pdf</a>
      </div>
      <div class="properties">225 Кб</div>
    </div>
    <div class="controls">
      <a href="#"
         class="control small"
         matTooltip="Скачать файл"
         matTooltipPosition="above">
        <mat-icon>arrow_downward</mat-icon>
      </a>
      <button
        class="control small"
        *ngIf="allowDelete"
        matTooltip="Удалить файл"
        matTooltipPosition="above">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="attachment">
    <div class="file-type-icon">
      <mat-icon>attach_file</mat-icon>
      <span class="extension">PDF</span>
    </div>
    <div class="details">
      <div class="file-name">
        <a href="">Выпуск журнала "Бездна анального угнетения" за май 2019.pdf</a>
      </div>
      <div class="properties">225 Кб</div>
    </div>
    <div class="controls">
      <a href="#" class="control small" matTooltip="Скачать файл" matTooltipPosition="above">
        <mat-icon>arrow_downward</mat-icon>
      </a>
      <button class="control small" matTooltip="Удалить файл" matTooltipPosition="above">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="attachment">
    <div class="file-type-icon">
      <mat-icon>attach_file</mat-icon>
      <span class="extension">PDF</span>
    </div>
    <div class="details">
      <div class="file-name">
        <a href="">Выпуск журнала "Бездна анального угнетения" за май 2019.pdf</a>
      </div>
      <div class="properties">225 Кб</div>
    </div>
    <div class="controls">
      <a href="#" class="control small" matTooltip="Скачать файл" matTooltipPosition="above">
        <mat-icon>arrow_downward</mat-icon>
      </a>
      <button class="control small" matTooltip="Удалить файл" matTooltipPosition="above">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>


  <!-- Start: Элементы управления списка вложений -->
  <div class="list-controls" *ngIf="allowUpload">
    <button class="control" (click)="dialog.click()" [disabled]="removingInProgress || uploadingInProgress">
      <mat-icon *ngIf="!uploadingInProgress && !removingInProgress">cloud_upload</mat-icon>
      <mat-progress-spinner *ngIf="uploadingInProgress" diameter="20" mode="indeterminate"></mat-progress-spinner>
      <span>Загрузить файл</span>
      <input type="file" #dialog (change)="onSelectFile($event.target.files)">
    </button>
  </div>
  <!-- End: Элементы управления списка вложений -->
</div>
