<div class="route-typeahead">
  <form [formGroup]="transportForm">
    <mat-form-field appearance="fill" class="w-100" floatLabel="always">
      <mat-label>Транспорт</mat-label>
      <input matInput
             [matAutocomplete]="auto"
             formControlName="transport"
             [readonly]="selectedTransport ? true : false"
             placeholder="{{placeholder ? placeholder : 'Транспорт не назначен'}}">
      <mat-error>{{error}}</mat-error>
      <mat-hint *ngIf="transportForm.valid">{{selectedTransport ? selectedTransport.registrationNumber : ''}}</mat-hint>

      <button mat-icon-button
              matSuffix
              *ngIf="selectedTransport"
              (click)="onClear()"
              matTooltip="Очистить"
              matTooltipPosition="above">
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect($event)" [displayWith]="display">
        <mat-option *ngFor="let transport of filteredTransport" [value]="transport" >
          <div class="transport-item">
            <span class="primary-data">{{transport.model}}</span>
            <span class="secondary-data">{{transport.registrationNumber}}</span>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
