<div class="pl-3 pl-md-4 pr-3 pr-md-4 pt-4">
  <mat-tab-group class="companies-tabs mt-2" disableRipple="true">
    <mat-tab label="филиал Колэнерго" >
      <div *mat-tab-label class="d-flex flex-row align-items-center">филиал Колэнерго <span class="label">6</span></div>
    </mat-tab>
    <mat-tab label="Мурманская ТЭЦ"></mat-tab>
    <mat-tab label="ПАО «МРСК Северо-Запада»"></mat-tab>
  </mat-tab-group>

<br>

  <!--
  <div class="row ">
    <div class="col-auto justify-content-center">
      <app-contact></app-contact>
    </div>
    <div class="col-auto">
      <app-contact></app-contact>
    </div>
    <div class="col-auto">
      <app-contact></app-contact>
    </div>
    <div class="col-auto">
      <app-contact></app-contact>
    </div>
    <div class="col-auto">
      <app-contact></app-contact>
    </div>
  </div>
</div>
-->

<div class="d-flex flex-column mat-elevation-z1" style="overflow: auto">
  <app-contact></app-contact>
  <app-contact></app-contact>
  <app-contact></app-contact>
  <app-contact></app-contact>
  <app-contact></app-contact>
  <app-contact></app-contact>
  <app-contact></app-contact>
</div>




