<div class="division-tree-item">
  <div class="expander-and-title">
    <i class="fas fa-caret-down" *ngIf="!isExpanded && (nestedDivisions$ | async).length > 0"></i>
    <i class="fas fa-caret-right" *ngIf="isExpanded && (nestedDivisions$ | async).length > 0"></i>
    <span class="division-title"
          [ngClass]="{'selected': (selectedDivision$ | async) === division}"
          (click)="select()">
    {{division.title}}
  </span>
  </div>
  <ng-container *ngIf="(nestedDivisions$ | async).length > 0 && isExpanded">
    <div class="nested-divisions">
      <app-division-tree-item
        *ngFor="let division of (nestedDivisions$ | async)"
        [division]="division">
      </app-division-tree-item>
    </div>
  </ng-container>
</div>
