<div class="tabs-component">
  <div class="tabs-container">

    <!-- Start: Вкладка с найденными заявками -->
    <div class="tab"
         *ngIf="(isFiltersApplied$ | async)"
         [ngClass]="{'selected': (mode$ | async) === applicationModes.SEARCH_REQUESTS_MODE}"
         (click)="selectTab(applicationModes.SEARCH_REQUESTS_MODE)">
      <mat-icon>search</mat-icon>
      <span class="tab-label">
        Найденные
      </span>
      <span class="indicator"
            matTooltip="Найдено заявок: {{(filteredRequestsCount$ | async)}}"
            matTooltipPosition="above">
        {{(filteredRequestsCount$ | async)}}
      </span>
    </div>
    <!-- End: Вкладка с найденными заявками -->

    <!-- Start: Вкладка со всеми заявками -->
    <div class="tab"
         *ngIf="(user$ | async).permissions.getRoleByCode('aho_requests_administrator')"
         [ngClass]="{'selected': (mode$ | async) === applicationModes.ALL_REQUESTS_MODE}"
         (click)="selectTab(applicationModes.ALL_REQUESTS_MODE)" >
      <mat-icon>list</mat-icon>
      <span class="tab-label">
        Все заявки
      </span>
      <span class="indicator"
            *ngIf="(newRequestsCount$ | async) > 0"
            matTooltip="Новых заявок: {{(newRequestsCount$ | async)}}"
            matTooltipPosition="above">{{(newRequestsCount$ | async)}}
      </span>
    </div>
    <!-- End: Вкладка со всеми заявками -->

    <!-- Start: Вкладка с заявками пользователя -->
    <div class="tab"
         (click)="selectTab(applicationModes.OWN_REQUESTS_MODE)"
         [ngClass]="{'selected': (mode$ | async) === applicationModes.OWN_REQUESTS_MODE}">
      <mat-icon>person</mat-icon>
      <span class="tab-label">
        Ваши заявки
      </span>
      <span class="indicator"
            *ngIf="(ownUncompletedRequestsCount$ | async) > 0"
            matTooltip="Ваших заявок в работе: {{(ownUncompletedRequestsCount$ | async)}}"
            matTooltipPosition="above">{{(ownUncompletedRequestsCount$ | async)}}
      </span>
    </div>
    <!-- End: Вкладка с заявками -->

    <!-- Start: Вкладка с заявками, где пользователь является исполнителем -->
    <div class="tab"
         *ngIf="(employeeRequestsCount$ | async) > 0"
         (click)="selectTab(applicationModes.EMPLOYEE_REQUESTS_MODE)"
         [ngClass]="{'selected': (mode$ | async) === applicationModes.EMPLOYEE_REQUESTS_MODE}">
      <mat-icon>play_circle_outline</mat-icon>
      <span class="tab-label">
        Вы исполнитель
      </span>
      <span class="indicator"
            *ngIf="(employeeUncompletedRequestsCount$ | async) > 0"
            matTooltip="Заявки в работе: {{(employeeUncompletedRequestsCount$ | async)}}"
            matTooltipPosition="above">{{(employeeUncompletedRequestsCount$ | async)}}
      </span>
    </div>
    <!-- End: Вкладка с заявками, где пользователь является исполнителем -->

    <!-- Start: Вкладка с просроченными заявками -->
    <div class="tab"
         *ngIf="(expiredRequestsCount$ | async) > 0"
         (click)="selectTab(applicationModes.EXPIRED_REQUESTS_MODE)"
         [ngClass]="{'selected': (mode$ | async) === applicationModes.EXPIRED_REQUESTS_MODE}">
      <mat-icon>calendar_today</mat-icon>
      <span class="tab-label">
        Просроченные
      </span>
      <span class="indicator"
            *ngIf="(expiredRequestsCount$ | async) > 0"
            matTooltip="Просроченных заявок: {{(expiredRequestsCount$ | async)}}"
            matTooltipPosition="above">{{(expiredRequestsCount$ | async)}}
      </span>
    </div>
    <!-- End: Вкладка с просроченными заявками-->

  </div>
  <div class="controls-container">

    <!-- Start: Кнопка вызова контекстного меню управлением списком заявок -->
    <button mat-icon-button [matMenuTriggerFor]="requestListMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #requestListMenu="matMenu" [yPosition]="'below'" class="user-menu">
      <button mat-menu-item>
        <mat-icon color="primary">insert_drive_file</mat-icon>
        Экспорт в Excel
      </button>
    </mat-menu>
    <!-- End: Кнопка вызова контекстного меню управлением списком заявок -->

  </div>
</div>
