@header-height: 50px;
@current-section-title-font-family: 'Open Sans Light';
@current-section-title-font-size: 20px;
@current-section-title-font-color: #546E7A;

.application {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-top: -4px;

  .content {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-height: @header-height;

      .section-title {
        font-family: @current-section-title-font-family;
        font-size: @current-section-title-font-size;
        color: @current-section-title-font-color;
      }

      .user-menu {}
    }
  }
}

.mat-progress-bar {
  display: flex;
  top: 0px;
  left: 0px;
  width: 100%;
}

input, button, .mat-button {
  outline: none !important;
}

.mat-stroked-button {
  font-family: 'Open Sans Regular' !important;
  border-color: #673ab7 !important;
}
