<mat-progress-bar mode="indeterminate" color="primary" *ngIf="isLoading$ | async"></mat-progress-bar>
<div class="application">
  <div class="sidebar p-4">
    <div class="sidebar-header mb-5">
      <div class="icon">
        <mat-icon color="primary">settings</mat-icon>
      </div>
      <div class="title">Панель<br>управления</div>
    </div>
    <div class="sidebar-content">
      <app-menu [items]="menu$ | async"></app-menu>
    </div>
  </div>
  <div class="content p-4">
    <div class="header mb-5">
      <div class="current-section">
        <div class="section-title">
          <div *ngFor="let item of breadcrumb$ | async; let i = index">
            <span class="separator" *ngIf="i > 0">/</span>
            <a [routerLink]="item.url">{{item.title}}</a>
          </div>
        </div>
      </div>
      <div class="user-menu">
        <button mat-button color="primary">
          Вася Ложкин
          <mat-icon color="primary">expand_more</mat-icon>
        </button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>


