<mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
<div class="application">
  <div class="sidebar p-4">side</div>
  <div class="content p-4">
    <div class="header">
      <div class="current-section">
        <div class="section-title">Приложения</div>
      </div>
      <div class="user-menu">
        <button mat-stroked-button color="primary">
          Вася Ложкин
          <mat-icon color="primary">expand_more</mat-icon>
        </button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>


