p {
  font-family: 'Open Sans', serif;
  font-size: 16px;
  text-align: justify;
}

figure {
  border: 5px solid #fafafa;
  &.image {
    img {
      width: 100% !important;
      border-radius: 4px !important;
    }

    &.image-style-side {
      img {
        width: 50% !important;
      }
    }
  }
}

figcaption {
  padding: 10px;
  font-family: 'Open Sans', serif;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #757575;
  background: #fafafa;
}
