.section-caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  // height: 45px;
  font-family: 'Open Sans', serif;
  font-size: 24px;
  line-height: 22px;
  font-weight: 300;
  //text-transform: uppercase;
  color: #004f8c !important;
  // padding: 0px 0px 20px 0px;

  &.small {
    height: 30px;
  }

  a {
    color: #004f8c !important;
  }

  .attribute {
    height: 30px;
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
    font-weight: 400;
    color: #90a4ae;
  }
}
