.icon-wrap {
  display: inline-block;
  padding: 10px;
  width: 100px;
  height: 90px;
}
.icon-wrap > div {
  position: absolute;
  background-color: lightgray;
  height: 80px;
  width: 88px;
  display: block;
  border-radius: 15%/30%;
  background: rgb(247, 247, 247);
  background: -moz-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(229, 229, 229, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(229, 229, 229, 1) 100%);
  background: linear-gradient(to bottom, rgba(247, 247, 247, 1) 0%, rgba(229, 229, 229, 1) 100%);
}
.icon-wrap > div:before {
  content: '';
  display: inline-block;
  position: relative;
  z-index: -1;
  height: 59px;
  width: 48px;
  left: 5px;
  top: -5px;
  background-color: lightgray;
  border-radius:30%/15%;
  background: rgb(247, 247, 247);
  background: -moz-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(229, 229, 229, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(229, 229, 229, 1) 100%);
  background: linear-gradient(to bottom, rgba(247, 247, 247, 1) 0%, rgba(229, 229, 229, 1) 100%);
}
