@header-height: 100px;

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: @header-height;
    box-sizing: border-box;

    .logos {
      img {
        height: 40px;

        &:last-of-type {
          height: 50px;
        }
      }
    }
  }

  .content {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
    padding-top: 20px;
  }
}
