<div class="route-typeahead">
  <form [formGroup]="routeForm">
    <mat-form-field appearance="fill" class="w-100" floatLabel="always">
      <mat-label>Элемент маршрута</mat-label>
      <input #query matInput [matAutocomplete]="auto" formControlName="route" (keydown.enter)="enterRoute(query.value)">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect($event)" [displayWith]="display">
        <mat-option *ngFor="let route of filteredRoutes" [value]="route">{{route.title}}</mat-option>
      </mat-autocomplete>
      <mat-hint align="start">Поочередно укажите элементы маршрута</mat-hint>
    </mat-form-field>
  </form>
</div>
