<div class="time-line">
  <div class="time-mark"
       *ngFor="let mark of marks"
       [ngClass]="{'marker': mark.isControl, 'with-data': getReportByTime(mark), 'selected': (selectedTime$ | async)?.time === mark.time}"
       (click)="selectTimeMark(mark)"
       matTooltip="{{getReportByTime(mark) && !mark.isControl? mark.time : null}}"
       matTooltipPosition="above">
    <span class="label" *ngIf="mark.isControl">{{mark.time}}</span>
    <span class="data" *ngIf="mark.isControl"></span>
  </div>
  <i class="fas fa-chevron-right"></i>
</div>
