@line-height: 2px;
@line-background-color: @marker-background-color;
@marker-width: 10px;
@marker-height: 10px;
@marker-background-color: #80cbc4;
@marker-background-color-selected: #00796b;
@marker-border-width: 5px;
@marker-border-color: #EEEEEE;

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .line {
    position: relative;
    z-index: 1;
    width: 100%;
    height: @line-height;
    background: @line-background-color;
  }

  .marker-container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -11px;

    .marker {
      width: @marker-width;
      height: @marker-height;
      box-sizing: content-box;
      background: @marker-background-color;
      border-width: @marker-border-width;
      border-style: solid;
      border-color: @marker-border-color;
      border-radius: 50%;
    }
  }
}
