<div class="timeline">
 <div class="period" *ngFor="let period of periods | async">
   <div class="marker"
        [ngClass]="{'selected': (selectedTime$ | async)?.time === period.start, 'with-data': getReportByTime(period.start) === true}"
        (click)="selectPeriodAndTime(period, period.start)">
     <span class="label">{{period.start}}</span>
     <span class="marker-data"></span>
   </div>
   <div class="time-marks">
     <span class="time-mark"
           *ngFor="let mark of period.marks"
           [ngClass]="{'selected': (selectedReport$ | async)?.periodTime === mark.time, 'with-data': getReportByTime(mark.time)}"
           (click)="selectPeriodAndTime(mark)"
           matTooltip="{{getReportByPeriodAndTime(period, mark.time) ? mark : null}}" matTooltipPosition="above">
     </span>
   </div>
   <div class="marker">
     <span class="label"></span>
   </div>
 </div>
</div>
